<!DOCTYPE html>
<html lang="zh-CN">

<!-- Header -->
<{include file="common/header.html"}>

<body>

<!-- 导航条 -->
<{include file="common/navbar.html"}>

<div class="container">
    <fieldset>
        <div class="row">
            <div class="col-sm-8">
                <div class="block block-info">
                    <div class="block-content">
                        <div class="heading">一言（ヒトコト）</div>

                        <div class="ui bottom attached center aligned segment">
                            <div class="ui centered inline loader active" id="hitokoto-loader"></div>
                            <script type="text/javascript" src="<{$staticWebsite}>/lib/js/jquery/jquery.min.js"></script>
                            <script>
                                $.get('https://sslapi.hitokoto.cn', function (data) {
                                    $('#hitokoto-loader').removeClass('active');
                                    $('#hitokoto-content').css('display', '').text(data.hitokoto);
                                    if (data.from) {
                                        $('#hitokoto-from').css('display', '').text('——' + data.from);
                                    }
                                });
                            </script>
                            <div style="font-size: 1em; line-height: 1.5em;" id="hitokoto-content"></div>
                            <div style="text-align: right; margin-top: 15px; font-size: 0.9em; color: rgb(102, 102, 102);" id="hitokoto-from"></div>
                        </div>


                    </div>
                </div>
                <div class="block block-danger">
                    <div class="block-content">
                        <table class="table-acdream">
                            <tbody>
                            <{foreach $contestList as $contest}>
                            <tr>
                                <td>
                                    <div class="title"><a href="<{$website}>/contest/<{$contest['id']}>"><{$contest['title']}></a></div>
                                    <div class="footer">时长：<{$contest['duration']}> / 参加人数：<{$contest['people']}> / 开始时间：<{$contest['startTime']}></div>
                                </td>
                                <td class="state">
                                    <{if $contest['status'] == 'Pending'}><span class="info-text">Pending</span><{/if}>
                                    <{if $contest['status'] == 'Running'}><span class="wrong-text">Running</span><{/if}>
                                    <{if $contest['status'] == 'Ended'}><span class="accept-text">Ended</span><{/if}>
                                </td>
                            </tr>
                            <{/foreach}>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="block block-warning">
                    <div class="block-content">
                        <table class="table-acdream highlight">
                            <tbody>
                            <{foreach $discussList as $discuss}>
                            <tr>
                                <td class="avatar">
                                    <img class="img-50 img-round" src="<{$uploadsDir}>/avatar/<{$discuss['avatar']}>/4.png">
                                </td>
                                <td>
                                    <div class="title"><a href="<{$website}>/discuss/<{$discuss['id']}>"><{$discuss['title']}></a></div>
                                    <div class="footer">
                                        作者：<{$discuss['username']}>
                                        /
                                        <{if $discuss['replied_user']}>
                                        最新回复：
                                            <{$discuss['replied_user']}> @ <{$discuss['replied_at']}>
                                        <{else}>
                                        发布于：
                                            <{$discuss['replied_at']}>
                                        <{/if}>
                                    </div>
                                </td>
                                <td class="state"><{$discuss['replied_num']}></td>
                            </tr>
                            <{/foreach}>
                            </tbody>
                        </table>
                        <div class="heading"><a target="_blank" href="<{$website}>/discuss/list">查看更多讨论</a></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="block block-success">
                    <div class="block-content">
                        <div class="heading"><a class="pull-right" target="_blank" href="<{$website}>/rank">More</a>Top 10</div>
                        <table class="table-acdream info">
                            <tbody>
                            <{foreach $users as $user}>
                            <tr>
                                <td>
                                    <div><a class="user user-cray" href="/user/detail/<{$user->username}>"><{$user->username}></a></div>
                                </td>
                                <td class="state"><span><{-$user->solved_problem}></span></td>
                            </tr>
                            <{/foreach}>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="block block-info">
                    <div class="block-content">
                        <div class="heading">OnlineJudge</div>
                        <table class="table-acdream bigger">
                            <tbody>
                            <{foreach $ojList as $oj}>
                            <tr>
                                <td><a target="_blank" href="<{$oj[1]}>"><{$oj[0]}></a></td>
                            </tr>
                            <{/foreach}>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="block block-info">
                    <div class="block-content">
                        <div class="heading">Blog</div>
                        <table class="table-acdream bigger">
                            <tbody>
                            <{foreach $blogList as $blog}>
                            <tr>
                                <td><a target="_blank" href="<{$blog[1]}>"><{$blog[0]}></a></td>
                            </tr>
                            <{/foreach}>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
</div>

<!-- Footer -->
<{include file="common/footer.html" }>
<!-- Javascript Libs -->
<{include file="common/jsLibs.html"}>
<!-- Javascript App -->
<{include file="common/jsApp.html"}>

</body>

</html>
