<!DOCTYPE html>
<html lang="zh-CN">

<!-- Header -->
<{include file="common/header.html"}>

<body class="flat-blue">

<!-- 导航条 -->
<{include file="common/navbar.html"}>

<div class="container" id="page-content">
    <div class="row">
        <div class="col-xs-12">
            <div class="card">
                <div class="card-body">
                    <div class="row no-margin">
                        <div class="col-sm-6">
                            <div class="card primary">
                                <div class="card-jumbotron no-padding">
                                    <img src="<{$staticWebsite}>img/thumbnails/picjumbo.com_IMG_3241.jpg" height="533" width="800"
                                         class="img-responsive">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="card">
                                <div class="card-jumbotron">
                                    <h1>Recent Contests</h1>
                                    <table class="table table-bordered table-hover">
                                        <thead>
                                        <tr>
                                            <th>Contest Title</th>
                                            <th>Date</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <th scope="row">Test Contest</th>
                                            <td>2017-09-20</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Test Contest</th>
                                            <td>2017-09-20</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Test Contest</th>
                                            <td>2017-09-20</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Test Contest</th>
                                            <td>2017-09-20</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Test Contest</th>
                                            <td>2017-09-20</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Test Contest</th>
                                            <td>2017-09-20</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="card-body">
                                    <div class="sub-title">News</div>
                                    <h4>Lorem Ipsum</h4>
                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
                                    euismod tincidunt ut laoreet dolore magna
                                    aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
                                    ullamcorper suscipit
                                    lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in
                                    hendrerit in vulputate
                                    velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero
                                    eros et accumsan et
                                    iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore
                                    te feugait nulla facilisi.
                                    Nam liber tempor.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Footer -->
<{include file="common/footer.html" }>
<!-- Javascript Libs -->
<{include file="common/jsLibs.html"}>
<!-- Javascript App -->
<{include file="common/jsApp.html"}>

</body>

</html>