<!DOCTYPE html>
<html lang="zh-CN">

<!-- Header -->
<{include file="common/header.html"}>

<body>

<!-- 导航条 -->
<{include file="common/navbar.html"}>

<div class="container">
    <fieldset>
        <div class="row">
            <div class="col-sm-8">
                <div class="block block-info">
                    <div class="block-content">
                        <div class="heading">一言（ヒトコト）</div>

                        <div class="ui bottom attached center aligned segment">
                            <div class="ui centered inline loader active" id="hitokoto-loader"></div>
                            <script type="text/javascript" src="<{$staticWebsite}>/lib/js/jquery/jquery.min.js"></script>
                            <script>
                                $.get('https://sslapi.hitokoto.cn/?c=a', function (data) {
                                    data = JSON.parse(data);
                                    $('#hitokoto-loader').removeClass('active');
                                    $('#hitokoto-content').css('display', '').text(data.hitokoto);
                                    if (data.from) {
                                        $('#hitokoto-from').css('display', '').text('——' + data.from);
                                    }
                                });
                            </script>
                            <div style="font-size: 1em; line-height: 1.5em;" id="hitokoto-content"></div>
                            <div style="text-align: right; margin-top: 15px; font-size: 0.9em; color: rgb(102, 102, 102);" id="hitokoto-from"></div>
                        </div>


                    </div>
                </div>
                <div class="block block-danger">
                    <div class="block-content">
                        <table class="table-acdream">
                            <tbody>
                            <{for $i = 1 to 3}>
                            <tr>
                                <td>
                                    <div class="title"><a href="/contest?cid=1305">第九届北京化工大学程序设计竞赛网络同步赛</a></div>
                                    <div class="footer">时长：5小时 / 参加人数：129 / 开始时间：2015-05-09 09:00</div>
                                </td>
                                <td class="state"><span class="accept-text">Ended</span></td>
                            </tr>
                            <{/for}>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="block block-warning">
                    <div class="block-content">
                        <table class="table-acdream highlight">
                            <tbody>
                            <{for $i = 1 to 3}>
                            <tr>
                                <td class="avatar"><img class="img-50 img-round" src="<{$uploadsDir}>/avatar/<{$avatar}>/4.png">
                                </td>
                                <td>
                                    <div class="title"><a href="#">Interesting</a></div>
                                    <div class="footer">作者：ToRapture / 最新回复：ToRapture @ 08-26 05:48</div>
                                </td>
                                <td class="state"><{$i}></td>
                            </tr>
                            <{/for}>
                            </tbody>
                        </table>
                        <div class="heading"><a target="_blank" href="/topic/list">查看更多讨论</a></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="block block-success">
                    <div class="block-content">
                        <div class="heading"><a class="pull-right" target="_blank" href="/rank">More</a>Top 10</div>
                        <table class="table-acdream info">
                            <tbody>
                            <{foreach $users as $user}>
                            <tr>
                                <td>
                                    <div><a class="user user-cray" href="/user/detail/<{$user->username}>"><{$user->username}></a></div>
                                </td>
                                <td class="state"><span><{$user->solved_problem}></span></td>
                            </tr>
                            <{/foreach}>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="block block-info">
                    <div class="block-content">
                        <div class="heading"><a class="pull-right" target="_blank" href="/topic?tid=101">More</a>Online
                            Judge
                        </div>
                        <table class="table-acdream bigger">
                            <tbody>
                            <tr>
                                <td><a target="_blank" href="http://acm.hdu.edu.cn/">HDU (杭州电子科技大学)</a></td>
                            </tr>
                            <tr>
                                <td><a target="_blank" href="http://poj.org/">POJ (北京大学)</a></td>
                            </tr>
                            <tr>
                                <td><a target="_blank" href="http://acm.zju.edu.cn/onlinejudge/">ZOJ (浙江大学)</a></td>
                            </tr>
                            <tr>
                                <td><a target="_blank" href="http://codeforces.com/">Codeforces</a></td>
                            </tr>
                            <tr>
                                <td><a target="_blank" href="http://acm.bnu.edu.cn/">BNUOJ (北京师范大学)</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="block block-info">
                    <div class="block-content">
                        <div class="heading">Blog</div>
                        <table class="table-acdream bigger">
                            <tbody>
                            <{for $i = 1 to 3}>
                            <tr>
                                <td><a target="_blank" href="http://www.cnblogs.com/ToRapture/">ToRapture</a></td>
                            </tr>
                            <{/for}>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
</div>

<!-- Footer -->
<{include file="common/footer.html" }>
<!-- Javascript Libs -->
<{include file="common/jsLibs.html"}>
<!-- Javascript App -->
<{include file="common/jsApp.html"}>

</body>

</html>