<!DOCTYPE html>
<html lang="zh-CN">

<!-- Header -->
<{include file="common/header.html"}>

<body>

<!-- 导航条 -->
<{include file="../common/navbar.html"}>

<div class="container">
    <fieldset>
        <div class="block block-info">
            <div class="heading">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="btn-group btn-group-sm">
                            <a class="btn btn-default" href="<{$websize}>/problem/list/1">&lt;&lt;</a>
                            <{foreach $pageArray as $pageId}>
                            <a class="btn btn-default <{if $pageId == $pageNow}>active<{/if}>" href="<{$websize}>/problem/list/<{$pageId}>"><{$pageId}></a>
                            <{/foreach}>
                            <a class="btn btn-default" href="<{$websize}>/problem/list/<{$totalPage}>">&gt;&gt;</a>
                        </div>
                    </div>
                    <div class="col-sm-6 form-inline">
                        <div class="pull-right">
                            <div class="input-group input-group-sm">
                                <span class="input-group-addon"><i class="icon_search"></i></span>
                                <input class="form-control" id="search" type="text" value="" placeholder="title or tag or source">
                            </div>
                            <a class="btn btn-default btn-sm" id="fil" href="javascript:;">Filter</a>
                            <a class="btn btn-default btn-sm" href="/problem/list">Reset</a></div>
                    </div>
                </div>
            </div>

            <div class="table-responsive">
                <table class="table table-bordered" id="problemset">
                    <thead>
                    <tr class="even">
                        <th style="width:45px">#</th>
                        <th style="width:240px">Title</th>
                        <th style="width:40px">Source</th>
                        <th style="width:160px">Ratio(AC/submit)</th>
                    </tr>
                    </thead>

                    <tbody>
                    <{$counter = 0}>
                    <{foreach $problems as $problem}>
                    <{$counter = $counter + 1}>
                    <tr class="<{if $counter % 2 == 0}>even<{else}>odd<{/if}>">
                        <td class="center "><{$problem->id}></td>
                        <td><a href="<{$website}>/problem/<{$problem->id}>"><{$problem->title}></a></td>
                        <td class="ellipsis"><a class="tag" href="javascript:;" style="font-size:12px" title="<{$problem->source}>"><{$problem->source}></a>
                        </td>
                        <td class="center">
                            <{if $problem->total_submit}><{sprintf("%.2f", $problem->total_ac / $problem->total_submit)}><{else}>0<{/if}>%
                            (<a href="#"><{$problem->total_ac}></a>/<a href="#"><{$problem->total_submit}></a>)
                        </td>
                    </tr>
                    <{/foreach}>
                    </tbody>
                </table>
            </div>
        </div>
    </fieldset>
</div>

<!-- Footer -->
<{include file="../common/footer.html" }>
<!-- Javascript Libs -->
<{include file="../common/jsLibs.html"}>
<!-- Javascript App -->
<{include file="../common/jsApp.html"}>

</body>

</html>