<!DOCTYPE html>
<html lang="zh-CN">

<!-- Header -->
<{include file="common/header.html"}>

<body>

<!-- 导航条 -->
<{include file="../common/navbar.html"}>

<div class="container">
    <fieldset>
        <div class="row">
            <div class="col-md-4">
                <div class="block block-info">
                    <div class="heading">Problem Statistic</div>
                    <div class="table-responsive">
                        <table class="table table-bordered tdcenter tdmini" id="static">
                            <thead>
                            <tr class="even">
                                <th>Verdict</th>
                                <th>Amount</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="odd">
                                <td>Total Submissions</td>
                                <td><a href="/status?pid=1001">2231</a></td>
                            </tr>
                            <tr class="even">
                                <th colspan="2">
                                    <div id="chart" style="height:400px" data-highcharts-chart="0">
                                        <div class="highcharts-container" id="highcharts-0"
                                             style="position: relative; overflow: hidden; width: 710px; height: 400px; text-align: left; line-height: normal; z-index: 0; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                                            <svg version="1.1"
                                                 style="font-family:&quot;Lucida Grande&quot;, &quot;Lucida Sans Unicode&quot;, Arial, Helvetica, sans-serif;font-size:12px;"
                                                 xmlns="http://www.w3.org/2000/svg" width="710" height="400">
                                                <desc>Created with Highcharts 4.0.1</desc>
                                                <defs>
                                                    <clipPath id="highcharts-1">
                                                        <rect x="0" y="0" width="690" height="292"></rect>
                                                    </clipPath>
                                                </defs>
                                                <rect x="0" y="0" width="710" height="400" strokeWidth="0"
                                                      fill="#FFFFFF" class=" highcharts-background"></rect>
                                                <path fill="rgba(170,83,160,0.25)" d="M 0 0"></path>
                                                <g class="highcharts-series-group" zIndex="3">
                                                    <g class="highcharts-series highcharts-tracker" visibility="visible"
                                                       zIndex="0.1" transform="translate(10,42) scale(1 1)"
                                                       style="cursor:pointer;">
                                                        <path fill="#24A329"
                                                              d="M 344.97739227438984 39.00000230229398 A 111 111 0 0 1 447.020366085401 193.73608240115664 L 345 150 A 0 0 0 0 0 345 150 Z"
                                                              stroke="#FFFFFF" stroke-width="1" stroke-linejoin="round"
                                                              transform="translate(0,0)"></path>
                                                        <path fill="#d20000"
                                                              d="M 446.9765790001104 193.83808088219925 A 111 111 0 0 1 400.3266426627844 246.22869952183996 L 345 150 A 0 0 0 0 0 345 150 Z"
                                                              stroke="#FFFFFF" stroke-width="1" stroke-linejoin="round"
                                                              transform="translate(0,0)"></path>
                                                        <path fill="#42A07B"
                                                              d="M 400.2303863159817 246.2839780409359 A 111 111 0 0 1 400.03770802754264 246.39424617203545 L 345 150 A 0 0 0 0 0 345 150 Z"
                                                              stroke="#FFFFFF" stroke-width="1" stroke-linejoin="round"
                                                              transform="translate(0,0)"></path>
                                                        <path fill="#ab3b2f"
                                                              d="M 399.9412862785846 246.44923567377094 A 111 111 0 0 1 400.03770802754264 246.39424617203545 L 345 150 A 0 0 0 0 0 345 150 Z"
                                                              stroke="#FFFFFF" stroke-width="1" stroke-linejoin="round"
                                                              transform="translate(0,0)"></path>
                                                        <path fill="#1F949A"
                                                              d="M 399.9412862785846 246.44923567377094 A 111 111 0 0 1 400.03770802754264 246.39424617203545 L 345 150 A 0 0 0 0 0 345 150 Z"
                                                              stroke="#FFFFFF" stroke-width="1" stroke-linejoin="round"
                                                              transform="translate(0,0)"></path>
                                                        <path fill="#82914E"
                                                              d="M 399.9412862785846 246.44923567377094 A 111 111 0 0 1 400.03770802754264 246.39424617203545 L 345 150 A 0 0 0 0 0 345 150 Z"
                                                              stroke="#FFFFFF" stroke-width="1" stroke-linejoin="round"
                                                              transform="translate(0,0)"></path>
                                                        <path fill="#Aa53a0"
                                                              d="M 399.9412862785846 246.44923567377094 A 111 111 0 1 1 333.985977160531 39.54778725217112 L 345 150 A 0 0 0 1 0 345 150 Z"
                                                              stroke="#FFFFFF" stroke-width="1" stroke-linejoin="round"
                                                              transform="translate(0,0)"></path>
                                                        <path fill="#72727F"
                                                              d="M 334.0964348618811 39.53682845726908 A 111 111 0 0 1 344.8458232268741 39.00010707427403 L 345 150 A 0 0 0 0 0 345 150 Z"
                                                              stroke="#FFFFFF" stroke-width="1" stroke-linejoin="round"
                                                              transform="translate(0,0)"></path>
                                                    </g>
                                                    <g class="highcharts-markers" visibility="visible" zIndex="0.1"
                                                       transform="translate(10,42) scale(1 1)"></g>
                                                </g>
                                                <text x="355" text-anchor="middle" class="highcharts-title" zIndex="4"
                                                      style="color:#3E576F;font-size:18px;font:16px Lucida Grande, Lucida Sans Unicode, Verdana, Arial, Helvetica, sans-serif;fill:#3E576F;width:646px;"
                                                      y="25">Statistic
                                                </text>
                                                <g class="highcharts-data-labels highcharts-tracker"
                                                   visibility="visible" zIndex="6"
                                                   transform="translate(10,42) scale(1 1)" opacity="1"
                                                   style="cursor:pointer;">
                                                    <path fill="none"
                                                          d="M 467.7531085110574 72.44224451427738 C 462.7531085110574 72.44224451427738 456.07208107780593 76.84268454183612 446.88566835708514 82.89328957972937 L 437.69925563636434 88.94389461762262"
                                                          stroke-width="1" stroke="#24A329"></path>
                                                    <path fill="none"
                                                          d="M 478.96511156122807 207 C 473.96511156122807 207 444.29767293331344 238.48147913562883 436.08508344258826 231.16346206426104 L 427.8724939518631 223.84544499289325"
                                                          stroke-width="1" stroke="#d20000"></path>
                                                    <path fill="none"
                                                          d="M 469.3984924527944 225 C 464.3984924527944 225 411.03868253122886 265.44649154279034 405.5768366075934 255.8982854753415 L 400.11499068395796 246.35007940789268"
                                                          stroke-width="1" stroke="#42A07B"></path>
                                                    <path fill="none"
                                                          d="M 455.9811303959342 243 C 450.9811303959342 243 410.8756118815105 265.53961986797685 405.42725300409234 255.98371145784344 L 399.97889412667416 246.42780304771003"
                                                          stroke-width="1" stroke="#ab3b2f"></path>
                                                    <path fill="none"
                                                          d="M 436.9482604771366 261 C 431.9482604771366 261 410.8756118815105 265.53961986797685 405.42725300409234 255.98371145784344 L 399.97889412667416 246.42780304771003"
                                                          stroke-width="1" stroke="#1F949A"></path>
                                                    <path fill="none"
                                                          d="M 419.8380547014509 279 C 414.8380547014509 279 410.8756118815105 265.53961986797685 405.42725300409234 255.98371145784344 L 399.97889412667416 246.42780304771003"
                                                          stroke-width="1" stroke="#82914E"></path>
                                                    <path fill="none"
                                                          d="M 205.65708839363063 192.81334022385107 C 210.65708839363063 192.81334022385107 218.27938125072959 190.38421453739144 228.76003392924068 187.04416671850944 L 239.24068660775177 183.70411889962745"
                                                          stroke-width="1" stroke="#Aa53a0"></path>
                                                    <path fill="none"
                                                          d="M 333.03485391110996 9.17213791312308 C 338.03485391110996 9.17213791312308 338.4300395048062 17.162371223016805 338.973419696138 28.14894202412068 L 339.51679988746986 39.13551282522455"
                                                          stroke-width="1" stroke="#72727F"></path>
                                                    <g zIndex="1" style="cursor:pointer;" transform="translate(473,62)">
                                                        <text x="3" zIndex="1"
                                                              style="font-size:11px;color:#606060;fill:#606060;" y="15">
                                                            AC
                                                        </text>
                                                    </g>
                                                    <g zIndex="1" style="cursor:pointer;"
                                                       transform="translate(484,197)">
                                                        <text x="3" zIndex="1"
                                                              style="font-size:11px;color:#606060;fill:#606060;" y="15">
                                                            WA
                                                        </text>
                                                    </g>
                                                    <g zIndex="1" style="cursor:pointer;"
                                                       transform="translate(474,215)">
                                                        <text x="3" zIndex="1"
                                                              style="font-size:11px;color:#606060;fill:#606060;" y="15">
                                                            PE
                                                        </text>
                                                    </g>
                                                    <g zIndex="1" style="cursor:pointer;"
                                                       transform="translate(461,233)">
                                                        <text x="3" zIndex="1"
                                                              style="font-size:11px;color:#606060;fill:#606060;" y="15">
                                                            TLE
                                                        </text>
                                                    </g>
                                                    <g zIndex="1" style="cursor:pointer;"
                                                       transform="translate(442,251)">
                                                        <text x="3" zIndex="1"
                                                              style="font-size:11px;color:#606060;fill:#606060;" y="15">
                                                            MLE
                                                        </text>
                                                    </g>
                                                    <g zIndex="1" style="cursor:pointer;"
                                                       transform="translate(425,269)">
                                                        <text x="3" zIndex="1"
                                                              style="font-size:11px;color:#606060;fill:#606060;" y="15">
                                                            OLE
                                                        </text>
                                                    </g>
                                                    <g zIndex="1" style="cursor:pointer;"
                                                       transform="translate(181,183)">
                                                        <text x="0" zIndex="1"
                                                              style="font-size:11px;color:#606060;fill:#606060;" y="15">
                                                            CE
                                                        </text>
                                                    </g>
                                                    <g zIndex="1" style="cursor:pointer;" transform="translate(308,-1)">
                                                        <text x="0" zIndex="1"
                                                              style="font-size:11px;color:#606060;fill:#606060;" y="15">
                                                            RE
                                                        </text>
                                                    </g>
                                                </g>
                                                <g class="highcharts-legend" zIndex="7" transform="translate(111,368)">
                                                    <g zIndex="1">
                                                        <g>
                                                            <g class="highcharts-legend-item" zIndex="1"
                                                               transform="translate(8,3)">
                                                                <text x="21" y="15"
                                                                      style="color:#3E576F;font-size:12px;font-weight:bold;cursor:pointer;font:9pt Trebuchet MS, Verdana, sans-serif;fill:#3E576F;"
                                                                      text-anchor="start" zIndex="2">AC
                                                                </text>
                                                                <rect x="0" y="4" width="16" height="12" zIndex="3"
                                                                      fill="#24A329"></rect>
                                                            </g>
                                                            <g class="highcharts-legend-item" zIndex="1"
                                                               transform="translate(68,3)">
                                                                <text x="21" y="15"
                                                                      style="color:#3E576F;font-size:12px;font-weight:bold;cursor:pointer;font:9pt Trebuchet MS, Verdana, sans-serif;fill:#3E576F;"
                                                                      text-anchor="start" zIndex="2">WA
                                                                </text>
                                                                <rect x="0" y="4" width="16" height="12" zIndex="3"
                                                                      fill="#d20000"></rect>
                                                            </g>
                                                            <g class="highcharts-legend-item" zIndex="1"
                                                               transform="translate(129.875,3)">
                                                                <text x="21" y="15"
                                                                      style="color:#3E576F;font-size:12px;font-weight:bold;cursor:pointer;font:9pt Trebuchet MS, Verdana, sans-serif;fill:#3E576F;"
                                                                      text-anchor="start" zIndex="2">PE
                                                                </text>
                                                                <rect x="0" y="4" width="16" height="12" zIndex="3"
                                                                      fill="#42A07B"></rect>
                                                            </g>
                                                            <g class="highcharts-legend-item" zIndex="1"
                                                               transform="translate(188.875,3)">
                                                                <text x="21" y="15"
                                                                      style="color:#3E576F;font-size:12px;font-weight:bold;cursor:pointer;font:9pt Trebuchet MS, Verdana, sans-serif;fill:#3E576F;"
                                                                      text-anchor="start" zIndex="2">TLE
                                                                </text>
                                                                <rect x="0" y="4" width="16" height="12" zIndex="3"
                                                                      fill="#ab3b2f"></rect>
                                                            </g>
                                                            <g class="highcharts-legend-item" zIndex="1"
                                                               transform="translate(253.875,3)">
                                                                <text x="21" y="15"
                                                                      style="color:#3E576F;font-size:12px;font-weight:bold;cursor:pointer;font:9pt Trebuchet MS, Verdana, sans-serif;fill:#3E576F;"
                                                                      text-anchor="start" zIndex="2">MLE
                                                                </text>
                                                                <rect x="0" y="4" width="16" height="12" zIndex="3"
                                                                      fill="#1F949A"></rect>
                                                            </g>
                                                            <g class="highcharts-legend-item" zIndex="1"
                                                               transform="translate(321.53125,3)">
                                                                <text x="21" y="15"
                                                                      style="color:#3E576F;font-size:12px;font-weight:bold;cursor:pointer;font:9pt Trebuchet MS, Verdana, sans-serif;fill:#3E576F;"
                                                                      text-anchor="start" zIndex="2">OLE
                                                                </text>
                                                                <rect x="0" y="4" width="16" height="12" zIndex="3"
                                                                      fill="#82914E"></rect>
                                                            </g>
                                                            <g class="highcharts-legend-item" zIndex="1"
                                                               transform="translate(388.53125,3)">
                                                                <text x="21" y="15"
                                                                      style="color:#3E576F;font-size:12px;font-weight:bold;cursor:pointer;font:9pt Trebuchet MS, Verdana, sans-serif;fill:#3E576F;"
                                                                      text-anchor="start" zIndex="2">CE
                                                                </text>
                                                                <rect x="0" y="4" width="16" height="12" zIndex="3"
                                                                      fill="#Aa53a0"></rect>
                                                            </g>
                                                            <g class="highcharts-legend-item" zIndex="1"
                                                               transform="translate(448.1875,3)">
                                                                <text x="21" y="15"
                                                                      style="color:#3E576F;font-size:12px;font-weight:bold;cursor:pointer;font:9pt Trebuchet MS, Verdana, sans-serif;fill:#3E576F;"
                                                                      text-anchor="start" zIndex="2">RE
                                                                </text>
                                                                <rect x="0" y="4" width="16" height="12" zIndex="3"
                                                                      fill="#72727F"></rect>
                                                            </g>
                                                        </g>
                                                    </g>
                                                </g>
                                                <g class="highcharts-tooltip" zIndex="8"
                                                   style="cursor:default;padding:0;white-space:nowrap;"
                                                   transform="translate(141,64)" opacity="0" visibility="hidden">
                                                    <path fill="none"
                                                          d="M 3.5 0.5 L 204.5 0.5 C 207.5 0.5 207.5 0.5 207.5 3.5 L 207.5 41.5 C 207.5 44.5 207.5 44.5 204.5 44.5 L 3.5 44.5 C 0.5 44.5 0.5 44.5 0.5 41.5 L 0.5 3.5 C 0.5 0.5 0.5 0.5 3.5 0.5"
                                                          stroke-width="5" isShadow="true" stroke="black"
                                                          stroke-opacity="0.049999999999999996"
                                                          transform="translate(1, 1)" width="207" height="44"></path>
                                                    <path fill="none"
                                                          d="M 3.5 0.5 L 204.5 0.5 C 207.5 0.5 207.5 0.5 207.5 3.5 L 207.5 41.5 C 207.5 44.5 207.5 44.5 204.5 44.5 L 3.5 44.5 C 0.5 44.5 0.5 44.5 0.5 41.5 L 0.5 3.5 C 0.5 0.5 0.5 0.5 3.5 0.5"
                                                          stroke-width="3" isShadow="true" stroke="black"
                                                          stroke-opacity="0.09999999999999999"
                                                          transform="translate(1, 1)" width="207" height="44"></path>
                                                    <path fill="none"
                                                          d="M 3.5 0.5 L 204.5 0.5 C 207.5 0.5 207.5 0.5 207.5 3.5 L 207.5 41.5 C 207.5 44.5 207.5 44.5 204.5 44.5 L 3.5 44.5 C 0.5 44.5 0.5 44.5 0.5 41.5 L 0.5 3.5 C 0.5 0.5 0.5 0.5 3.5 0.5"
                                                          stroke-width="1" isShadow="true" stroke="black"
                                                          stroke-opacity="0.15" transform="translate(1, 1)" width="207"
                                                          height="44"></path>
                                                    <path fill="rgba(249, 249, 249, .85)"
                                                          d="M 3.5 0.5 L 204.5 0.5 C 207.5 0.5 207.5 0.5 207.5 3.5 L 207.5 41.5 C 207.5 44.5 207.5 44.5 204.5 44.5 L 3.5 44.5 C 0.5 44.5 0.5 44.5 0.5 41.5 L 0.5 3.5 C 0.5 0.5 0.5 0.5 3.5 0.5"
                                                          stroke-width="1" stroke="#Aa53a0"></path>
                                                    <text x="8" zIndex="1"
                                                          style="font-size:12px;color:#333333;fill:#333333;" y="21">
                                                        <tspan style="font-size: 10px">CE</tspan>
                                                        <tspan style="font-weight:bold" x="8" dy="16">Compilation
                                                            Error:1,261次
                                                        </tspan>
                                                        <tspan style="font-weight:bold" dx="0">, 56.7%</tspan>
                                                    </text>
                                                </g>
                                            </svg>
                                        </div>
                                    </div>
                                </th>
                            </tr>
                            <tr class="odd">
                                <td>Accepted</td>
                                <td><a href="/status?pid=1001&amp;result=2">700</a></td>
                            </tr>
                            <tr class="even">
                                <td>Wrong Answer</td>
                                <td><a href="/status?pid=1001&amp;result=6">228</a></td>
                            </tr>
                            <tr class="odd">
                                <td>Presentation Error</td>
                                <td><a href="/status?pid=1001&amp;result=3">1</a></td>
                            </tr>
                            <tr class="even">
                                <td>Time Limit Exceeded</td>
                                <td><a href="/status?pid=1001&amp;result=4">0</a></td>
                            </tr>
                            <tr class="odd">
                                <td>Memory Limit Exceeded</td>
                                <td><a href="/status?pid=1001&amp;result=5">0</a></td>
                            </tr>
                            <tr class="even">
                                <td>Output Limit Exceeded</td>
                                <td><a href="/status?pid=1001&amp;result=7">0</a></td>
                            </tr>
                            <tr class="odd">
                                <td>Compilation Error</td>
                                <td><a href="/status?pid=1001&amp;result=8">1261</a></td>
                            </tr>
                            <tr class="even">
                                <td>Runtime Error</td>
                                <td><a href="/status?pid=1001&amp;result=9">35</a></td>
                            </tr>
                            <tr class="odd">
                                <td>Dangerous Code</td>
                                <td><a href="/status?pid=1001&amp;result=13">5</a></td>
                            </tr>
                            <tr class="even">
                                <td>System Error</td>
                                <td><a href="/status?pid=1001&amp;result=14">0</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="block block-info">
                    <div class="heading">
                        <div class="row">
                            <div class="col-sm-2"><a href="/problem?pid=1001">Problem 1001</a></div>
                            <div class="col-sm-10 form-inline">
                                <div class="pull-right">
                                    <div class="input-group input-group-sm" id="filter"><span class="input-group-addon">Lang.</span><select
                                            class="form-control" id="lang">
                                        <option value="">All</option>
                                        <option value="1">C</option>
                                        <option value="2">C++</option>
                                        <option value="3">Java</option>
                                    </select></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-bordered tdcenter" id="statistic">
                            <thead>
                            <tr class="even">
                                <th width="6%">Rank</th>
                                <th width="20%">Author</th>
                                <th class="sort" data-key="0" title="sorted by exec time.">Exe. Time</th>
                                <th class="sort-current" data-key="1" title="sorted by exec memory.">Exe. Memory</th>
                                <th class="sort" data-key="2" title="sorted by code length.">Code Len.</th>
                                <th>Lang.</th>
                                <th width="22%">Date</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="odd">
                                <td>1</td>
                                <td><a class="user user-green" title="Specialist" href="/user/lx_Zz">lx_Zz</a></td>
                                <td>12 MS</td>
                                <td>1084 KB</td>
                                <td>50 B</td>
                                <td><a href="/sourcecode/70103">C++</a></td>
                                <td>2015-05-07 15:21:25</td>
                            </tr>
                            <tr class="even">
                                <td>2</td>
                                <td><a class="user user-unrated" title="Unrated" href="/user/huhao">huhao</a></td>
                                <td>12 MS</td>
                                <td>1084 KB</td>
                                <td>50 B</td>
                                <td><a href="/sourcecode/97858">C++</a></td>
                                <td>2017-02-05 15:46:45</td>
                            </tr>
                            <tr class="odd">
                                <td>3</td>
                                <td><a class="user user-unrated" title="Unrated" href="/user/vjudge1">vjudge1</a></td>
                                <td>12 MS</td>
                                <td>1084 KB</td>
                                <td>50 B</td>
                                <td><a href="/sourcecode/105759">C++</a></td>
                                <td>2017-10-27 21:50:09</td>
                            </tr>
                            <tr class="even">
                                <td>4</td>
                                <td><a class="user user-unrated" title="Unrated" href="/user/zzliux">zzliux</a></td>
                                <td>12 MS</td>
                                <td>1084 KB</td>
                                <td>51 B</td>
                                <td><a href="/sourcecode/92413">C++</a></td>
                                <td>2016-08-05 12:57:29</td>
                            </tr>
                            <tr class="odd">
                                <td>5</td>
                                <td><a class="user user-unrated" title="Unrated"
                                       href="/user/shuaiqingyao">shuaiqingyao</a></td>
                                <td>12 MS</td>
                                <td>1084 KB</td>
                                <td>51 B</td>
                                <td><a href="/sourcecode/103724">C++</a></td>
                                <td>2017-10-20 15:27:19</td>
                            </tr>
                            <tr class="even">
                                <td>6</td>
                                <td><a class="user user-unrated" title="Unrated" href="/user/vjudge4">vjudge4</a></td>
                                <td>12 MS</td>
                                <td>1084 KB</td>
                                <td>51 B</td>
                                <td><a href="/sourcecode/105686">C++</a></td>
                                <td>2017-10-27 21:21:04</td>
                            </tr>
                            <tr class="odd">
                                <td>7</td>
                                <td><a class="user user-unrated" title="Unrated" href="/user/kg20006">kg20006</a></td>
                                <td>12 MS</td>
                                <td>1084 KB</td>
                                <td>52 B</td>
                                <td><a href="/sourcecode/62338">C++</a></td>
                                <td>2015-04-12 19:09:11</td>
                            </tr>
                            <tr class="even">
                                <td>8</td>
                                <td><a class="user user-unrated" title="Unrated" href="/user/zccz14">zccz14</a></td>
                                <td>12 MS</td>
                                <td>1084 KB</td>
                                <td>52 B</td>
                                <td><a href="/sourcecode/86037">C++</a></td>
                                <td>2015-12-20 13:50:58</td>
                            </tr>
                            <tr class="odd">
                                <td>9</td>
                                <td><a class="user user-unrated" title="Unrated" href="/user/vjudge3">vjudge3</a></td>
                                <td>12 MS</td>
                                <td>1084 KB</td>
                                <td>53 B</td>
                                <td><a href="/sourcecode/73254">C++</a></td>
                                <td>2015-05-18 19:17:20</td>
                            </tr>
                            <tr class="even">
                                <td>10</td>
                                <td><a class="user user-blue" title="Expert" href="/user/w703710691d">w703710691d</a>
                                </td>
                                <td>12 MS</td>
                                <td>1084 KB</td>
                                <td>53 B</td>
                                <td><a href="/sourcecode/82079">C++</a></td>
                                <td>2015-08-25 22:36:20</td>
                            </tr>
                            <tr class="odd">
                                <td>11</td>
                                <td><a class="user user-unrated" title="Unrated" href="/user/wll">wll</a></td>
                                <td>12 MS</td>
                                <td>1084 KB</td>
                                <td>53 B</td>
                                <td><a href="/sourcecode/82182">C++</a></td>
                                <td>2015-08-27 12:16:09</td>
                            </tr>
                            <tr class="even">
                                <td>12</td>
                                <td><a class="user user-unrated" title="Unrated" href="/user/gardonkoo">gardonkoo</a>
                                </td>
                                <td>12 MS</td>
                                <td>1084 KB</td>
                                <td>54 B</td>
                                <td><a href="/sourcecode/82972">C++</a></td>
                                <td>2015-09-19 22:24:16</td>
                            </tr>
                            <tr class="odd">
                                <td>13</td>
                                <td><a class="user user-unrated" title="Unrated" href="/user/sdibt4">sdibt4</a></td>
                                <td>12 MS</td>
                                <td>1084 KB</td>
                                <td>54 B</td>
                                <td><a href="/sourcecode/87011">C++</a></td>
                                <td>2016-04-03 11:55:58</td>
                            </tr>
                            <tr class="even">
                                <td>14</td>
                                <td><a class="user user-unrated" title="Unrated" href="/user/sdibt5">sdibt5</a></td>
                                <td>12 MS</td>
                                <td>1084 KB</td>
                                <td>54 B</td>
                                <td><a href="/sourcecode/87012">C++</a></td>
                                <td>2016-04-03 11:56:00</td>
                            </tr>
                            <tr class="odd">
                                <td>15</td>
                                <td><a class="user user-unrated" title="Unrated" href="/user/sdibt2">sdibt2</a></td>
                                <td>12 MS</td>
                                <td>1084 KB</td>
                                <td>54 B</td>
                                <td><a href="/sourcecode/87015">C++</a></td>
                                <td>2016-04-03 12:03:04</td>
                            </tr>
                            <tr class="even">
                                <td>16</td>
                                <td><a class="user user-unrated" title="Unrated" href="/user/iKyrre">iKyrre</a></td>
                                <td>12 MS</td>
                                <td>1084 KB</td>
                                <td>54 B</td>
                                <td><a href="/sourcecode/87785">C++</a></td>
                                <td>2016-04-18 00:08:28</td>
                            </tr>
                            <tr class="odd">
                                <td>17</td>
                                <td><a class="user user-unrated" title="Unrated" href="/user/Owen">Owen</a></td>
                                <td>12 MS</td>
                                <td>1084 KB</td>
                                <td>54 B</td>
                                <td><a href="/sourcecode/97392">C++</a></td>
                                <td>2017-01-06 21:28:12</td>
                            </tr>
                            <tr class="even">
                                <td>18</td>
                                <td><a class="user user-unrated" title="Unrated" href="/user/sdibt1">sdibt1</a></td>
                                <td>12 MS</td>
                                <td>1084 KB</td>
                                <td>54 B</td>
                                <td><a href="/sourcecode/99405">C++</a></td>
                                <td>2017-04-06 09:25:53</td>
                            </tr>
                            <tr class="odd">
                                <td>19</td>
                                <td><a class="user user-unrated" title="Unrated" href="/user/vjudge2">vjudge2</a></td>
                                <td>12 MS</td>
                                <td>1084 KB</td>
                                <td>54 B</td>
                                <td><a href="/sourcecode/100286">C++</a></td>
                                <td>2017-06-02 20:32:03</td>
                            </tr>
                            <tr class="even">
                                <td>20</td>
                                <td><a class="user user-unrated" title="Unrated"
                                       href="/user/HarryGuo2012">HarryGuo2012</a></td>
                                <td>12 MS</td>
                                <td>1084 KB</td>
                                <td>55 B</td>
                                <td><a href="/sourcecode/79497">C++</a></td>
                                <td>2015-08-01 23:39:12</td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr class="odd">
                                <td colspan="9">
                                    <div id="pager">
                                        <div id="list">
                                            <ul class="pagination pagination-sm">
                                                <li class="disabled"><a id="1" href="javascript:;">&lt;&lt;</a></li>
                                                <li class="active"><a href="javascript:;">1</a></li>
                                                <li><a id="2" href="javascript:;">2</a></li>
                                                <li><a id="3" href="javascript:;">3</a></li>
                                                <li><a id="4" href="javascript:;">4</a></li>
                                                <li><a id="5" href="javascript:;">5</a></li>
                                                <li class="disabled"><a href="javascript:;">...</a></li>
                                                <li><a id="28" href="javascript:;">&gt;&gt;</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
    <script type="text/javascript">var pid = 1001;
    var sort = 1;
    var stat_data = [{"name": "AC", "title": "Accepted", "y": 700}, {
        "name": "WA",
        "title": "Wrong Answer",
        "y": 228
    }, {"name": "PE", "title": "Presentation Error", "y": 1}, {
        "name": "TLE",
        "title": "Time Limit Exceeded",
        "y": 0
    }, {"name": "MLE", "title": "Memory Limit Exceeded", "y": 0}, {
        "name": "OLE",
        "title": "Output Limit Exceeded",
        "y": 0
    }, {"name": "CE", "title": "Compilation Error", "y": 1261}, {
        "name": "RE",
        "title": "Runtime Error",
        "y": 35
    }];</script>
</div>

<!-- Footer -->
<{include file="../common/footer.html" }>
<!-- Javascript Libs -->
<{include file="../common/jsLibs.html"}>
<!-- Javascript App -->
<{include file="../common/jsApp.html"}>
<!--<script type="text/javascript" src="<{$staticWebsite}>/js/problem/problem.js"></script>-->
<script>
    var pageId =
    <
    {
        $pageNow
    }
    >
    ;
    $("#search").val('<{$search}>');
</script>
</body>

</html>