<!DOCTYPE html>
<html lang="zh-CN">

<!-- Header -->
<{include file="common/header.html"}>

<body>

<!-- 导航条 -->
<{include file="../common/navbar.html"}>

<div class="container">
    <fieldset>
        <div class="row">
            <div class="col-md-4">
                <div class="block block-info">
                    <div class="heading">Problem Statistic</div>
                    <div class="table-responsive">
                        <table class="table table-bordered tdcenter tdmini" id="static">
                            <thead>
                            <tr class="even">
                                <th>Verdict</th>
                                <th>Amount</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="odd">
                                <td>Total Submissions</td>
                                <td><a href="<{$website}>/status/list/?pid=<{$problemId}>"><{$problem->total_submit}></a></td>
                            </tr>
                            <tr class="even">
                                <th colspan="2">
                                    <div id="chart" style="height:400px" data-highcharts-chart="0"></div>
                                </th>
                            </tr>
                            <tr class="odd">
                                <td>Accepted</td>
                                <td><a href="<{$website}>/status/list/?pid=<{$problemId}>&result=Accepted"><{$problem->total_ac}></a></td>
                            </tr>
                            <tr class="even">
                                <td>Wrong Answer</td>
                                <td><a href="<{$website}>/status/list/?pid=<{$problemId}>&result=Wrong Answer"><{$problem->total_wa}></a></td>
                            </tr>
                            <tr class="odd">
                                <td>Presentation Error</td>
                                <td><a href="<{$website}>/status/list/?pid=<{$problemId}>&result=Presentation Error"><{$problem->total_pe}></a></td>
                            </tr>
                            <tr class="even">
                                <td>Time Limit Exceeded</td>
                                <td><a href="<{$website}>/status/list/?pid=<{$problemId}>&result=Time Limit Exceeded"><{$problem->total_tle}></a></td>
                            </tr>
                            <tr class="odd">
                                <td>Memory Limit Exceeded</td>
                                <td><a href="<{$website}>/status/list/?pid=<{$problemId}>&result=Memory Limit Exceeded"><{$problem->total_mle}></a></td>
                            </tr>
                            <tr class="even">
                                <td>Output Limit Exceeded</td>
                                <td><a href="<{$website}>/status/list/?pid=<{$problemId}>&result=Output Limit Exceeded"><{$problem->total_ole}></a></td>
                            </tr>
                            <tr class="odd">
                                <td>Compile Error</td>
                                <td><a href="<{$website}>/status/list/?pid=<{$problemId}>&result=Compile Error"><{$problem->total_ce}></a></td>
                            </tr>
                            <tr class="even">
                                <td>Runtime Error</td>
                                <td><a href="<{$website}>/status/list/?pid=<{$problemId}>&result=Runtime Error"><{$problem->total_re}></a></td>
                            </tr>
                            <tr class="odd">
                                <td>Restricted Function</td>
                                <td><a href="<{$website}>/status/list/?pid=<{$problemId}>&result=Restricted Function"><{$problem->total_rf}></a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="block block-info">
                    <div class="heading">
                        <div class="row">
                            <div class="col-sm-2"><a href="<{$website}>/problem/<{$problemId}>">Problem <{$problemId}></a></div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-bordered tdcenter" id="statistic">
                            <thead>
                            <tr class="even">
                                <th style="width: 7%">Rank</th>
                                <th style="width: 14%">Author</th>
                                <th style="width: 9%">Time</th>
                                <th style="width: 9%">Memory</th>
                                <th style="width: 8%">Length</th>
                                <th style="width: 12%">Lang</th>
                                <th style="width: 25%">Date</th>
                            </tr>
                            </thead>
                            <tbody>
                            <{foreach $leaderList as $leader}>
                            <tr class="<{if $rank % 2}>odd<{else}>even<{/if}>">
                                <td><{$rank}></td>
                                <td><a class="user user-cray" href="<{$website}>/user/detail/<{$leader['username']}>"><{$leader['username']}></a>
                                </td>
                                <td><{$leader['time_used']}> MS</td>
                                <td><{$leader['memory_used']}> KB</td>
                                <td><{$leader['length(source)']}> B</td>
                                <td><a href="<{$website}>/status/source/<{$leader['id']}>"><{$leader['language']}></a></td>
                                <td><{$leader['submit_time']}></td>
                            </tr>
                            <{$rank = $rank + 1}>
                            <{/foreach}>
                            </tbody>
                            <tfoot>
                            <tr class="odd">
                                <td colspan="9">
                                    <div id="pager">
                                        <div id="list">
                                            <ul class="pagination pagination-sm">
                                                <li><a href="<{$website}>/problem/statistic/<{$problemId}>" class="pagi" title="1">&lt;&lt;</a></li>
                                                <{foreach $pageArray as $pageId}>
                                                <li class="<{if $pageNow == $pageId}>active<{/if}>">
                                                    <a href="<{$website}>/problem/statistic/<{$problemId}>?page=<{$pageId}>" class="pagi" title="<{$pageId}>"><{$pageId}></a>
                                                </li>
                                                <{/foreach}>
                                                <li><a href="<{$website}>/problem/statistic/<{$problemId}>?page=<{$totalPage}>" class="pagi" title="<{$totalPage}>">&gt;&gt;</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
</div>

<!-- Footer -->
<{include file="../common/footer.html" }>
<!-- Javascript Libs -->
<{include file="../common/jsLibs.html"}>
<script src="http://code.highcharts.com/highcharts.js"></script>
<!-- Javascript App -->
<{include file="../common/jsApp.html"}>
<script type="text/javascript">
    var statData = [
        {"name": "AC", "title": "Accepted", "y": <{$problem->total_ac}>},
        {"name": "WA", "title": "Wrong Answer", "y": <{$problem->total_wa}>},
        {"name": "PE", "title": "Presentation Error", "y": <{$problem->total_pe}>},
        {"name": "TLE", "title": "Time Limit Exceeded", "y": <{$problem->total_tle}>},
        {"name": "MLE", "title": "Memory Limit Exceeded", "y": <{$problem->total_mle}>},
        {"name": "OLE", "title": "Output Limit Exceeded", "y": <{$problem->total_ole}>},
        {"name": "CE", "title": "Compile Error", "y": <{$problem->total_ce}>},
        {"name": "RE", "title": "Runtime Error", "y": <{$problem->total_re}>}
    ];
</script>
<script type="text/javascript" src="<{$staticWebsite}>/js/problem/statistic.js"></script>
</body>

</html>