<link rel="stylesheet" type="text/css" href="<{$staticWebsite}>lib/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="<{$staticWebsite}>lib/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="<{$staticWebsite}>lib/css/animate.min.css">
<link rel="stylesheet" type="text/css" href="<{$staticWebsite}>lib/css/bootstrap-switch.min.css">
<link rel="stylesheet" type="text/css" href="<{$staticWebsite}>lib/css/checkbox3.min.css">
<link rel="stylesheet" type="text/css" href="<{$staticWebsite}>lib/css/jquery.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="<{$staticWebsite}>lib/css/dataTables.bootstrap.css">
<link rel="stylesheet" type="text/css" href="<{$staticWebsite}>lib/css/select2.min.css">