<!DOCTYPE html>
<html lang="zh-CN">

<!-- Header -->
<{include file="common/header.html"}>

<body>

<!-- 导航条 -->
<{include file="common/navbar.html"}>

<div class="container" id="page-content">
    <div class="col-xs-12 col-center-block">
        <div class="panel panel-danger">
            <div class="panel-heading"><h3>Ooooooops!</h3></div>
            <div class="panel-body"><h4><{$msg}></h4></div>
        </div>
    </div>
</div>

<!-- Footer -->
<{include file="common/footer.html" }>
<!-- Javascript Libs -->
<{include file="common/jsLibs.html"}>
<!-- Javascript App -->
<{include file="common/jsApp.html"}>

</body>

</html>