<!-- footer部分start --><link rel="stylesheet" type="text/css" href="<{$staticWebsite}>/css/base.css">
<div id="footer">
    <div class="container"><h4>NENUOJ</h4>
        <div class="row">
            <div class="col-sm-2"><a target="_blank" href="https://github.com/NENU-OJ/OnlineJudge">Current Version v0.0.0</a></div>
            <div class="col-sm-5"><span>Copyright © 2017-2019 NENUOJ Team. All Rights Reserved.</span></div>
        </div>
        <div>
            <span>Designer and Developer :
            <a target="_blank" href="http://www.cnblogs.com/ToRapture/">ToRapture</a>
            <a target="_blank" href="https://github.com/Shihao97">Shihao</a>
            </span>
        </div>
        <div><span>Server time : <span id="timer"><{$time}></span></span></div>
    </div>
</div>
<!-- footer部分end -->