<!-- header部分start -->
<!-- 静态导航条 -->
<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header navbar-left">
            <a class="navbar-brand" href="<{$website}>">NENUOJ</a>
            <ul class="nav navbar-nav">
                <li><a href="<{$website}>problem/problem">题目</a></li>
                <li><a href="<{$website}>status/status">状态</a></li>
                <li><a href="<{$website}>contest/contest">比赛</a></li>
                <li><a href="<{$website}>rank/rank">排名</a></li>
            </ul>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <{if $nickname}>
            <li class="dropdown profile">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                   aria-expanded="false"><{$nickname}><span class="caret"></span></a>
                <ul class="dropdown-menu animated">
                    <li class="profile-img">
                        <img src="<{$staticWebsite}>img/profile/picjumbo.com_HNCK4153_resize.jpg" class="profile-img">
                    </li>
                    <li>
                        <div class="profile-info">
                            <h4 class="username"><{$username}></h4>
                            <{if $email != ""}>
                            <p> <{$email}> </p>
                            <{/if}>
                            <{if $school != ""}>
                            <p> <{$school}> </p>
                            <{/if}>
                            <div class="btn-group margin-bottom-2x" role="group">
                                <a href="<{$website}>user/user/detail" class="btn btn-default" role="button"><i
                                        class="fa fa-user"></i> Profile</a>
                                <a href="<{$website}>user/user/logout" class="btn btn-default" role="button"
                                   id="logout"><i class="fa fa-sign-out"></i> Logout</a></button>
                            </div>
                        </div>
                    </li>
                </ul>
            </li>
            <{else}>
            <li><a class="btn-link" data-toggle="modal" data-target="#modalLogin" role="button"><span
                    class="fa fa-user btn-link"></span> Login</a></li>
            <li><a class="btn-link" data-toggle="modal" data-target="#modalRegister" role="button"><span
                    class="fa fa-user-plus btn-link"></span> Register</a></li>
            <{/if}>
        </ul>
    </div>
</nav>
<div class="modal fade" id="modalLogin" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <form class="fh5co-form animate-box" data-animate-effect="fadeIn" id="login">
            <h2>Login</h2>
            <div class="form-group">
                <label for="loginUsername" class="sr-only">Username</label>
                <input type="text" class="form-control" id="loginUsername" placeholder="Username" autocomplete="off">
            </div>
            <div class="form-group">
                <label for="loginPassword" class="sr-only">Password</label>
                <input type="password" class="form-control" id="loginPassword" placeholder="Password"
                       autocomplete="off">
            </div>
            <div class="form-group">
                <input type="button" id="loginSubmit" value="Login" class="btn btn-info">
            </div>
        </form>
    </div>
</div>
<div class="modal fade" id="modalRegister" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <form class="fh5co-form animate-box" data-animate-effect="fadeIn" id="register">
            <h2>Register</h2>
            <div class="form-group">
                <p style="color: red;"><strong>请注意：所有输入项中首末空格均视为无效</strong></p>
            </div>
            <div class="form-group">
                <label for="registerUsername" class="sr-only">Username</label>
                <input type="text" class="form-control" id="registerUsername" placeholder="Username(required)"
                       autocomplete="off">
            </div>
            <div class="form-group">
                <label for="registerNickname" class="sr-only">Nickname</label>
                <input type="text" class="form-control" id="registerNickname" placeholder="Nickname(required)"
                       autocomplete="off">
            </div>
            <div class="form-group">
                <label for="registerSchool" class="sr-only">School</label>
                <input type="text" class="form-control" id="registerSchool" placeholder="School" autocomplete="off">
            </div>
            <div class="form-group">
                <label for="registerEmail" class="sr-only">Email</label>
                <input type="email" class="form-control" id="registerEmail" placeholder="Email" autocomplete="off">
            </div>
            <div class="form-group">
                <label for="registerPassword" class="sr-only">Password</label>
                <input type="password" class="form-control" id="registerPassword" placeholder="Password(required)"
                       autocomplete="off">
            </div>
            <div class="form-group">
                <label for="re-password" class="sr-only">Re-type Password</label>
                <input type="password" class="form-control" id="re-password"
                       placeholder="Re-type Password(required)" autocomplete="off">
            </div>
            <div class="form-group">
                <input type="button" id="registerSubmit" value="Register" class="btn btn-info">
            </div>
        </form>
    </div>
</div>
<!-- header部分end -->