<head>
    <title>
        <{if $title}>
            <{$title}>
        <{else}>
            NENU Online Judge
        <{/if}>
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <{include file="common/favicon.html"}>
    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300,400' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
    <!-- CSS Libs -->
    <{include file="common/cssLibs.html"}>
    <!-- CSS App -->
    <{include file="common/cssApp.html"}>
</head>
