<script type="text/javascript" src="<{$staticWebsite}>lib/js/jquery.min.js"></script>
<script type="text/javascript" src="<{$staticWebsite}>lib/js/bootstrap.min.js"></script>
<script type="text/javascript" src="<{$staticWebsite}>lib/js/Chart.min.js"></script>
<script type="text/javascript" src="<{$staticWebsite}>lib/js/bootstrap-switch.min.js"></script>

<script type="text/javascript" src="<{$staticWebsite}>lib/js/jquery.matchHeight-min.js"></script>
<script type="text/javascript" src="<{$staticWebsite}>lib/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="<{$staticWebsite}>lib/js/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" src="<{$staticWebsite}>lib/js/select2.full.min.js"></script>
<script type="text/javascript" src="<{$staticWebsite}>lib/js/ace/ace.js"></script>
<script type="text/javascript" src="<{$staticWebsite}>lib/js/ace/mode-html.js"></script>
<script type="text/javascript" src="<{$staticWebsite}>lib/js/ace/theme-github.js"></script>
