<!DOCTYPE html>
<html lang="zh-CN">

<!-- Header -->
<head>
    <title>
        <{if $webTitle}>
        <{$webTitle}>
        <{else}>
        NENU Online Judge
        <{/if}>
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <{include file="common/favicon.html"}>

    <!-- CSS Libs -->
    <{include file="common/cssLibs.html"}>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.9.0-alpha2/katex.min.css" integrity="sha384-exe4Ak6B0EoJI0ogGxjJ8rn+RN3ftPnEQrGwX59KTCl5ybGzvHGKjhPKk/KC3abb" crossorigin="anonymous">

    <!-- CSS App -->
    <{include file="common/cssApp.html"}>

    <!-- Javascript Libs -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.9.0-alpha2/katex.min.js" integrity="sha384-OMvkZ24ANLwviZR2lVq8ujbE/bUO8IR1FdBrKLQBI14Gq5Xp/lksIccGkmKL8m+h" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.9.0-alpha2/contrib/auto-render.min.js" integrity="sha384-cXpztMJlr2xFXyDSIfRWYSMVCXZ9HeGXvzyKTYrn03rsMAlOtIQVzjty5ULbaP8L" crossorigin="anonymous"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            renderMathInElement(document.body, {
                delimiters: [
                    {left: "$$", right: "$$", display: true},
                    {left: "\\[", right: "\\]", display: true},
                    {left: "$", right: "$", display: false},
                    {left: "\\(", right: "\\)", display: false}
                ]
            });
        });
    </script>
</head>

<body>

<!-- 导航条 -->
<{include file="../common/navbar.html"}>

<div class="container">
    <fieldset>
        <div class="block block-info">
            <div class="heading">
                <a href="<{$website}>/discuss/list">讨论主页</a> &gt;&gt; 话题详情
                <span class="actions pull-right"></span>
            </div>
            <div class="block-content">
                <div class="table-responsive">
                    <table class="table table-topic" id="comment">
                        <tbody>
                        <{foreach $replyList as $reply}>
                        <{if $first}>
                        <tr>
                            <td class="cl">
                                <div>
                                    <a class="user user-cray" href="<{$website}>/user/detail/<{$reply['username']}>"><{$reply['username']}></a>
                                </div>
                                <div>
                                    <a class="user user-cray" href="<{$website}>/user/detail/<{$reply['username']}>">
                                        <img class="img-80 img-round" alt="avatar" src="<{$uploadsDir}>/avatar/<{$reply['avatar']}>/2.png">
                                    </a>
                                </div>
                            </td>
                            <td class="cr">
                                <div class="head" id="">
                                    <{if $discuss->priority}>
                                    <span class="label label-warning">置顶</span>
                                    <{/if}>
                                    <span class="title"><{$discuss->title}></span>
                                    <span class="user-gray">发表于<{$discuss->created_at}></span>
                                </div>
                                <div class="content"><{$reply['content']}></div>
                                <{if $user_id}>
                                <div class="pull-right">
                                    <button class="btn btn-primary" id="add_reply">+ Add Reply</button>
                                </div>
                                <{/if}>
                            </td>
                        </tr>
                        <{if $user_id}>
                        <tr id="to_reply" style="display:none">
                            <td class="cl">
                                <div>
                                    <a class="user user-cray" href="<{$website}>/user/detail"><{$username}></a>
                                </div>
                                <div><a href="<{$website}>/user/detail">
                                    <img class="img-80 img-round" alt="avatar" src="<{$uploadsDir}>/avatar/<{$avatar}>/2.png">
                                </a></div>
                            </td>
                            <td class="cr">
                                <div class="form-group">
                                    <textarea class="form-control" id="content" style="visibility: hidden; display: none;"></textarea>
                                </div>
                                <button class="btn btn-default" id="reply">提交回复</button>
                                <span class="error-text" id="err"></span></td>
                        </tr>
                        <{/if}>
                        <{else}>
                        <tr>
                            <td class="cl">
                                <div>
                                    <a class="user user-cray"
                                       href="<{$website}>/user/detail/<{$reply['username']}>"><{$reply['username']}></a>
                                </div>
                                <div><a href="<{$website}>/user/detail/<{$reply['username']}>">
                                    <img class="img-80 img-round" alt="avatar" src="<{$uploadsDir}>/avatar/<{$reply['avatar']}>/2.png">
                                </a></div>
                            </td>
                            <td class="cr">
                                <div class="head" id="<{$reply['id']}>">
                                    <span class="user-gray">评论于<{$reply['created_at']}></span>
                                    <span class="actions">
                                        <a class="img_link reply reply-btn"
                                           data-id="<{$reply['id']}>"
                                           href="javascript:;"
                                           title="回复"></a>
                                    </span>
                                </div>
                                <div class="content"><{$reply['content']}></div>
                                <div>
                                    <textarea id="reply_content_<{$reply['id']}>" style="visibility: hidden; display: none;"></textarea>
                                </div>
                                <div>
                                    <a class="btn btn-default replySubmit"
                                       data-fa="<{$reply['id']}>"
                                       data-id="<{$reply['id']}>"
                                       data-username="<{$reply['username']}>"
                                       href="javascript:;"
                                       style="margin-top:5px; display: none"
                                       id="reply_submit_<{$reply['id']}>">提交</a>
                                    <span class="error-text" id="err_<{$reply['id']}>"></span>
                                </div>
                                <div class="replies">
                                    <{$border = true}>
                                    <{foreach $reply['subReply'] as $subReply}>
                                    <div class="reply_box" <{if $border}>style="border-top:0"<{/if}>>
                                    <{$border = false}>
                                        <div class="rl">
                                            <a href="<{$website}>/user/detail/<{$subReply['username']}>">
                                            <img class="img-60 img-round"
                                                 alt="avatar"
                                                 src="<{$uploadsDir}>/avatar/<{$subReply['avatar']}>/2.png">
                                            </a>
                                        </div>
                                        <div class="rr">
                                            <div class="head">
                                                <a class="user user-cray"
                                                   href="<{$website}>/user/detail/<{$subReply['username']}>"><{$subReply['username']}></a>
                                                <span class="user-gray">@<{$subReply['reply_at']}> <{$subReply['created_at']}></span>
                                                <span class="actions">
                                                    <a class="img_link reply reply-btn"
                                                       data-id="<{$subReply['id']}>"
                                                       href="javascript:;"
                                                       title="回复"></a>
                                                </span>
                                            </div>
                                            <div class="content"><{$subReply['content']}></div>
                                            <div>
                                                <textarea id="reply_content_<{$subReply['id']}>" style="visibility: hidden; display: table-row;"></textarea>
                                            </div>
                                            <div>
                                                <a class="btn btn-default replySubmit"
                                                   data-fa="<{$subReply['parent_id']}>"
                                                   data-id="<{$subReply['id']}>"
                                                   data-username="<{$subReply['username']}>"
                                                   href="javascript:;"
                                                   style="margin-top:5px; display: none"
                                                   id="reply_submit_<{$subReply['id']}>">提交</a>
                                                <span class="error-text" id="err_<{$subReply['id']}>"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <{/foreach}>
                                </div>
                            </td>
                        </tr>
                        <{/if}>
                        <{$first = false}>
                        <{/foreach}>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </fieldset>
</div>

<!-- Footer -->
<{include file="../common/footer.html" }>
<!-- Javascript Libs -->
<{include file="../common/jsLibs.html"}>
<script src="<{$staticWebsite}>/lib/js/ckeditor/ckeditor.js"></script>
<!-- Javascript App -->
<{include file="../common/jsApp.html"}>
<script type="text/javascript" src="<{$staticWebsite}>/js/discuss/view.js"></script>
<script>
    var discussId = <{$discussId}>;
</script>
</body>

</html>