<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <title>NENU Online Judge</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300,400' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
    <!-- CSS Libs -->
    <link rel="stylesheet" type="text/css" href="<{$staticWebsite}>lib/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="<{$staticWebsite}>lib/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="<{$staticWebsite}>lib/css/animate.min.css">
    <link rel="stylesheet" type="text/css" href="<{$staticWebsite}>lib/css/bootstrap-switch.min.css">
    <link rel="stylesheet" type="text/css" href="<{$staticWebsite}>lib/css/checkbox3.min.css">
    <link rel="stylesheet" type="text/css" href="<{$staticWebsite}>lib/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="<{$staticWebsite}>lib/css/dataTables.bootstrap.css">
    <link rel="stylesheet" type="text/css" href="<{$staticWebsite}>lib/css/select2.min.css">
    <!-- CSS App -->
    <link rel="stylesheet" type="text/css" href="<{$staticWebsite}>css/style.css">
    <link rel="stylesheet" type="text/css" href="<{$staticWebsite}>css/themes/flat-blue.css">
</head>

<body class="flat-blue">
<{include file="../common/header.html" }>
<div class="container" id="page-content">
    <div class="row">
        <div class="col-xs-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">
                        <div class="title"><{$title}></div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="text-indent">
                        <p class="text-center">
                            <strong>Time Limit:</strong> <{$timeLimit}>ms&nbsp;&nbsp;&nbsp;
                            <strong>Memory Limit:</strong> <{$memoryLimit}>KB&nbsp;&nbsp;&nbsp;
                            <strong>Special Judge:</strong>
                            <{if $isSpecialJudge==0}>
                            no
                            <{else}>
                            yes
                            <{/if}>
                        </p>
                    </div>
                    <div class="sub-title">Description</div>
                    <div class="text-indent">
                        <{$description}>
                    </div>
                    <div class="sub-title">Input</div>
                    <div class="text-indent">
                        <{$input}>
                    </div>
                    <div class="sub-title">Output</div>
                    <div class="text-indent">
                        <{$output}>
                    </div>
                    <div class="sub-title">Sample Input</div>
                    <div class="text-indent">
                        <{$sampleIn}>
                    </div>
                    <div class="sub-title">Sample Output</div>
                    <div class="text-indent">
                        <{$sampleOut}>
                    </div>
                    <{if $hint!=""}>
                    <div class="sub-title">Hint</div>
                    <div class="text-indent">
                        <{$hint}>
                    </div>
                    <{/if}>
                    <{if $source!=""}>
                    <div class="sub-title">Source</div>
                    <div class="text-indent">
                        <{$source}>
                    </div>
                    <{/if}>
                    <{if $author!=""}>
                    <div class="sub-title">Author</div>
                    <div class="text-indent">
                        <{$author}>
                    </div>
                    <{/if}>
                    <div class="sub-title"></div>
                    <div class="text-indent">
                        <p class="text-center">
                            <a href="<{$website}>problem/problem-detail/to-submit?p_id=<{$problemId}>"
                               class="btn btn-link">[Submit]</a><span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            <a href="<{$website}>problem/problem-detail/to-discuss"
                               class="btn btn-link">[Discuss]</a><span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            <button type="button" class="btn btn-link" data-toggle="modal" data-target="#modalDefault">
                                [Statistics]
                            </button>
                        </p>
                    </div>
                    <div class="modal fade" id="modalDefault" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                            aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel">Statistics</h4>
                                </div>
                                <div class="modal-body">
                                    <table class="table table-bordered">
                                        <tbody>
                                        <tr>
                                            <th scope="row">Total Submit</th>
                                            <td><{$totalSubmit}></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Total AC</th>
                                            <td><{$totalAC}></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Total WA</th>
                                            <td><{$totalWA}></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Total RE</th>
                                            <td><{$totalRE}></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Total CE</th>
                                            <td><{$totalCE}></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Total TLE</th>
                                            <td><{$totalTLE}></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Total MLE</th>
                                            <td><{$totalMLE}></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Total PE</th>
                                            <td><{$totalPE}></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Total OLE</th>
                                            <td><{$totalOLE}></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Total RF</th>
                                            <td><{$totalRF}></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<{include file="../common/footer.html" }>
<!-- Javascript Libs -->
<script type="text/javascript" src="<{$staticWebsite}>lib/js/jquery.min.js"></script>
<script type="text/javascript" src="<{$staticWebsite}>lib/js/bootstrap.min.js"></script>
<script type="text/javascript" src="<{$staticWebsite}>lib/js/Chart.min.js"></script>
<script type="text/javascript" src="<{$staticWebsite}>lib/js/bootstrap-switch.min.js"></script>

<script type="text/javascript" src="<{$staticWebsite}>lib/js/jquery.matchHeight-min.js"></script>
<script type="text/javascript" src="<{$staticWebsite}>lib/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="<{$staticWebsite}>lib/js/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" src="<{$staticWebsite}>lib/js/select2.full.min.js"></script>
<script type="text/javascript" src="<{$staticWebsite}>lib/js/ace/ace.js"></script>
<script type="text/javascript" src="<{$staticWebsite}>lib/js/ace/mode-html.js"></script>
<script type="text/javascript" src="<{$staticWebsite}>lib/js/ace/theme-github.js"></script>
<!-- Javascript -->
<script type="text/javascript" src="<{$staticWebsite}>js/app.js"></script>
<!-- Javascript -->
</body>

</html>