<!DOCTYPE html>
<html lang="zh-CN">

<!-- Header -->
<{include file="common/header.html"}>

<body>

<!-- 导航条 -->
<{include file="../common/navbar.html"}>

<div class="container" id="page-content">
    <div class="row">
        <div class="col-xs-12">
            <div class="card">
                <div class="card-header">

                    <div class="card-title">
                        <div class="title">Problems</div>
                    </div>
                </div>
                <div class="card-body">
                    <table class="datatable table table-hover" cellspacing="0" width="100%" id="list">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Title</th>
                            <th>Total AC</th>
                            <th>Total Submit</th>
                            <th>AC Ratio</th>
                        </tr>
                        </thead>
                        <tbody>
                        <{foreach $data as $item}>
                        <{if $username}>
                        <{if $item.isAC==true}>
                        <tr class="success">
                            <{else}>
                        <tr>
                            <{/if}>
                            <{else}>
                        <tr>
                            <{/if}>
                            <td><{$item.id}></td>
                            <td><a href="<{$website}>problem/problem-detail/detail?p_id=<{$item.id}>">
                                <{$item.title}> </a></td>
                            <td> <{$item.total_ac}></td>
                            <td> <{$item.total_submit}></td>
                            <td> <{$item.total_ac / $item.total_submit}></td>
                        </tr>
                        <{/foreach}>
                        </tbody>
                        <tfoot>
                        <tr>
                            <th>#</th>
                            <th>Title</th>
                            <th>Total AC</th>
                            <th>Total Submit</th>
                            <th>AC Ratio</th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Footer -->
<{include file="../common/footer.html" }>
<!-- Javascript Libs -->
<{include file="../common/jsLibs.html"}>
<!-- Javascript App -->
<{include file="../common/jsApp.html"}>
<script type="text/javascript" src="<{$staticWebsite}>/js/user/user.js"></script>

</body>

</html>