<!DOCTYPE html>
<html lang="zh-CN">

<!-- Header -->
<{include file="common/header.html"}>

<body>

<!-- 导航条 -->
<{include file="common/navbar.html"}>

<div class="container">
    <fieldset>
        <div class="block block-info">
            <div class="block-content">
                <div class="inner" style="padding:0 15px">
                    <div class="row">
                        <div class="col-md-8">
                            <div style="font-size:24px;margin-top:5px">
                                <span class="user" title="<{$user->username}>"><{$user->username}></span>
                            </div>
                            <div><span class="user-gray" title="nick name"><{$user->nickname}></span></div>
                            <div><span class="user-gray" title="nick name"><{$user->signature}></span></div>
                            <ul class="user-info">
                                <li>Solved: <a href="#"><{count($solved)}></a></li>
                                <li>Submissions: <a href="#"><{$submissions}></a></li>
                                <li>Registered: <{$user->register_time}></li>
                                <{if $user_id && $user_id == $user->id}>
                                <li><a id="set" href="javascript:;">Change settings</a></li>
                                <{/if}>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <span class="pull-right" style="margin:20px 15px 0 0">
                            <img class="img-250 img-round" alt="avatar" src="<{$staticWebsite}>/img/honoka.png">
                                <div><a href="#">Change Avatar</a></div>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="block block-success">
            <div class="block-content">
                <div class="heading">List of <span class="success-text">solved</span> problems</div>
                <div class="inner prob_list">
                    <{foreach $solved as $pid}>
                        <a class="pid" href="#"><{$pid}></a>
                    <{/foreach}>
                </div>
            </div>
        </div>
        <div class="block block-warning">
            <div class="block-content">
                <div class="heading">List of <span class="info-text">unsolved</span> problems</div>
                <div class="inner prob_list">
                    <{if count($unsolved) == 0}>
                        <span class="info-text">No unsolved problems :)</span>
                    <{else}>
                        <{foreach $unsolved as $pid}>
                        <a class="pid" href="#"><{$pid}></a>
                        <{/foreach}>
                    <{/if}>
                </div>
            </div>
        </div>
    </fieldset>
</div>

<div class="jqmSubmit jqmID1" id="dialog_st" name="ToRapture"
     style="width: 550px; height: 540px; top: 12%; margin-left: -275px; z-index: 3000; display: block;">
    <div class="jqDrag jqtop">Settings</div>
    <div class="jqcontent container" style="width:550px;height:445px">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group"><label for="oldpassword">Old Password *</label>
                    <input class="form-control input-sm" id="oldpassword" type="password">
                </div>
                <div class="form-group"><label for="newpassword">New Password</label><input
                        class="form-control input-sm" id="newpassword" type="password">
                    <small class="help-block">Leave it blank if not to change password</small>
                    <label for="password_repeat">Confirm New Password</label>
                    <input class="form-control input-sm" id="password_repeat" type="password">
                </div>
                <div class="form-group"><label for="set_nick">Nick Name *</label>
                    <input class="form-control input-sm" id="set_nick" type="text" value="ToRapture">
                </div>
                <div class="form-group"><label for="set_school">School</label>
                    <input class="form-control input-sm" id="set_school" type="text" value="">
                </div>
                <div class="form-group"><label for="set_email">Email</label>
                    <input class="form-control input-sm" id="set_email" type="text" value="">
                </div>
            </div>
            <div class="col-sm-6"><label for="signature">Signature</label>
                <textarea class="form-control input-sm" id="signature" style="height:360px"></textarea>
            </div>
        </div>
    </div>
    <div class="jqfoot">
        <span class="pull-right">
            <a class="btn btn-default" id="set_submit" href="javascript:;">Submit</a>
            <a class="setclose btn btn-default" href="javascript:;">Cancel</a>
        </span>
        <small class="error-text" id="set_error"></small>
    </div>
    <div class="jqResize"></div>
    <i class="setclose jqclose img_link"></i></div>
<!-- Footer -->
<{include file="common/footer.html" }>
<!-- Javascript Libs -->
<{include file="common/jsLibs.html"}>
<!-- Javascript App -->
<{include file="common/jsApp.html"}>

</body>

</html>