<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <title>NENU Online Judge</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300,400' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
    <!-- CSS Libs -->
    <link rel="stylesheet" type="text/css" href="<{$staticWebsite}>lib/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="<{$staticWebsite}>lib/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="<{$staticWebsite}>lib/css/animate.min.css">
    <link rel="stylesheet" type="text/css" href="<{$staticWebsite}>lib/css/bootstrap-switch.min.css">
    <link rel="stylesheet" type="text/css" href="<{$staticWebsite}>lib/css/checkbox3.min.css">
    <link rel="stylesheet" type="text/css" href="<{$staticWebsite}>lib/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="<{$staticWebsite}>lib/css/dataTables.bootstrap.css">
    <link rel="stylesheet" type="text/css" href="<{$staticWebsite}>lib/css/select2.min.css">
    <!-- CSS App -->
    <link rel="stylesheet" type="text/css" href="<{$staticWebsite}>css/style.css">
    <link rel="stylesheet" type="text/css" href="<{$staticWebsite}>css/themes/flat-blue.css">
</head>

<body class="flat-blue">
<{include file="../common/header.html" }>
<div class="container" id="page-content">
    <div class="row">
        <div class="col-xs-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">
                        <div class="title"><{$basicInfo.username}></div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row no-margin">
                        <div class="col-sm-6">
                            <div class="card primary">
                                <div class="card-jumbotron no-padding">
                                    <img src="<{$staticWebsite}>img/profile/picjumbo.com_HNCK4153_resize.jpg"
                                         height="533" width="800" class="img-responsive">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="card">
                                <div class="card-jumbotron">
                                    <button type="button" class="close" data-toggle="modal"
                                            data-target="#modalUpdate"><span
                                            class="fa fa-pencil-square-o btn-link"></span></button>
                                    <h1>Profile</h1>
                                    <table class="table table-bordered">
                                        <tbody>
                                        <tr>
                                            <th scope="row">Username</th>
                                            <td><{$basicInfo.username}></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Nickname</th>
                                            <td><{$basicInfo.nickname}></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Email</th>
                                            <td><{$basicInfo.email}></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">School</th>
                                            <td><{$basicInfo.school}></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Total Submit</th>
                                            <td><{$basicInfo.total_submit}></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Total AC</th>
                                            <td><{$basicInfo.total_ac}></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Register Time</th>
                                            <td><{$basicInfo.register_time}></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="card-body">
                                    <div class="sub-title">Solved Problems List</div>
                                    <{foreach $acList as $item}>
                                    <a href="<{$website}>problem/problem-detail/detail?p_id=<{$item.problem_id}>"><{$item.problem_id}>&nbsp;&nbsp;</a>
                                    <{/foreach}>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalUpdate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <form class="fh5co-form animate-box" data-animate-effect="fadeIn" id="update">
            <h2>Update</h2>
            <div class="form-group">
                <p style="color: red;"><strong>请注意：所有输入项中首末空格均视为无效</strong></p>
            </div>
            <div class="form-group">
                <label for="updateUsername">Username</label>
                <input type="text" class="form-control" id="updateUsername" value="<{$basicInfo.username}>"
                       autocomplete="off" disabled>
            </div>
            <div class="form-group">
                <label for="updateNickname">Nickname</label>
                <input type="text" class="form-control" id="updateNickname" value="<{$basicInfo.nickname}>"
                       autocomplete="off">
            </div>
            <div class="form-group">
                <label for="updateSchool">School</label>
                <input type="text" class="form-control" id="updateSchool" value="<{$basicInfo.school}>"
                       autocomplete="off">
            </div>
            <div class="form-group">
                <label for="updateEmail">Email</label>
                <input type="email" class="form-control" id="updateEmail" value="<{$basicInfo.email}>"
                       autocomplete="off">
            </div>
            <div class="form-group">
                <label for="oldPassword">Password</label>
                <input type="password" class="form-control" id="oldPassword" placeholder="Old Password"
                       autocomplete="off">
            </div>
            <div class="form-group">
                <label for="newPassword">New Password</label>
                <input type="password" class="form-control" id="newPassword"
                       placeholder="New Password" autocomplete="off">
            </div>
            <div class="form-group">
                <label for="re-newPassword">Retype New Password</label>
                <input type="password" class="form-control" id="re-newPassword"
                       placeholder="Retype New Password" autocomplete="off">
            </div>
            <div class="form-group">
                <input type="button" id="updateSubmit" value="Submit" class="btn btn-info">
            </div>
        </form>
    </div>
</div>
<{include file="../common/footer.html" }>
<!-- Javascript Libs -->
<script type="text/javascript" src="<{$staticWebsite}>lib/js/jquery.min.js"></script>
<script type="text/javascript" src="<{$staticWebsite}>lib/js/bootstrap.min.js"></script>
<script type="text/javascript" src="<{$staticWebsite}>lib/js/Chart.min.js"></script>
<script type="text/javascript" src="<{$staticWebsite}>lib/js/bootstrap-switch.min.js"></script>

<script type="text/javascript" src="<{$staticWebsite}>lib/js/jquery.matchHeight-min.js"></script>
<script type="text/javascript" src="<{$staticWebsite}>lib/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="<{$staticWebsite}>lib/js/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" src="<{$staticWebsite}>lib/js/select2.full.min.js"></script>
<script type="text/javascript" src="<{$staticWebsite}>lib/js/ace/ace.js"></script>
<script type="text/javascript" src="<{$staticWebsite}>lib/js/ace/mode-html.js"></script>
<script type="text/javascript" src="<{$staticWebsite}>lib/js/ace/theme-github.js"></script>
<!-- Javascript -->
<script type="text/javascript" src="<{$staticWebsite}>js/app.js"></script>
<!-- Javascript -->
<script type="text/javascript" src="<{$staticWebsite}>js/user/user.js"></script>
</body>

</html>