<!DOCTYPE html>
<html lang="zh-CN">

<!-- Header -->
<{include file="../common/header.html"}>

<body>

<!-- 导航条 -->
<{include file="../common/navbar.html"}>

<div class="container">
    <fieldset>
        <div class="block block-danger">
            <div class="block-content">
                <div class="inner" style="background:#fff">
                    <pre><code><{$ceinfo}></code></pre>
                </div>
            </div>
        </div>
    </fieldset>
</div>
<!-- Footer -->
<{include file="../common/footer.html" }>
<!-- Javascript Libs -->
<{include file="../common/jsLibs.html"}>
<!-- Javascript App -->
<{include file="../common/jsApp.html"}>

</body>

</html>