<!DOCTYPE html>
<html lang="zh-CN">

<!-- Header -->
<{include file="../common/header.html"}>

<body>

<!-- 导航条 -->
<{include file="../common/navbar.html"}>


<div class="container">
    <fieldset>
        <div class="block block-info">
            <div class="heading">
                <div class="row">
                    <div class="col-sm-2">Status</div>
                    <div class="col-sm-14 form-inline">
                        <div class="pull-right">
                            <div class="input-group input-group-sm"><span class="input-group-addon">name</span>
                                <input class="form-control" id="name" type="text" value="<{$name}>" placeholder="UserName">
                            </div>
                            <div class="input-group input-group-sm"><span class="input-group-addon">pid</span>
                                <input class="form-control" id="pid" type="text" value="<{$pid}>" placeholder="ProblemID">
                            </div>
                            <div class="input-group input-group-sm"><span class="input-group-addon">lang</span>
                                <select class="form-control" id="lang">
                                    <option value="">All</option>
                                    <{foreach $langList as $lang}>
                                    <option value="<{$lang->id}>"><{$lang->language}></option>
                                    <{/foreach}>
                                </select>
                            </div>
                            <div class="input-group input-group-sm">
                                <span class="input-group-addon">result</span>
                                <select class="form-control" id="result">
                                    <option value="">All</option>
                                    <option class="info-text" value="Send to Judge">Send to Judge</option>
                                    <option class="info-text" value="Send to Rejudge">Send to Rejudge</option>
                                    <option class="accept-text" value="Accepted">Accepted</option>
                                    <option class="wrong-text" value="Wrong Answer">Wrong Answer</option>
                                    <option class="wrong-text" value="Presentation Error">Presentation Error</option>
                                    <option class="wrong-text" value="Time Limit Exceeded">Time Limit Exceeded</option>
                                    <option class="wrong-text" value="Memory Limit Exceeded">Memory Limit Exceeded</option>
                                    <option class="wrong-text" value="Output Limit Exceeded">Output Limit Exceeded</option>
                                    <option class="wrong-text" value="Runtime Error">Runtime Error</option>
                                    <option class="special-text" value="Compile Error">Compile Error</option>
                                    <option class="special-text" value="Judge Error">Judge Error</option>
                                    <option class="special-text" value="Restricted Function">Restricted Function</option>
                                </select>
                            </div>
                            <a class="btn btn-default btn-sm" id="fil" href="javascript:;">Filter</a>
                            <a class="btn btn-default btn-sm" href="<{$website}>/status/list">Reset</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered tdcenter" id="statustable">
                    <thead>
                    <tr class="even">
                        <th style="width:7%">RunID</th>
                        <th style="width:14%">User</th>
                        <th style="width:10%">Problem</th>
                        <th style="width:17%">Verdict</th>
                        <th style="width:9%">Time</th>
                        <th style="width:9%">Memory</th>
                        <th style="width:12%">Lang</th>
                        <th style="width:8%">Length</th>
                        <th style="width:15%">Submit Time</th>
                    </tr>
                    </thead>
                    <tbody>
                    <{$counter = 0}>
                    <{foreach $statuses as $status}>
                    <{$counter = $counter + 1}>
                    <tr class="<{if $user_id == $status['uid']}>highlight<{/if}> <{if $counter % 2 == 0}>even<{else}>odd<{/if}>">
                        <td><{$status['runid']}></td>
                        <td><a class="user user-cyan" href="<{$website}>/user/detail/<{$status['username']}>"><{$status['username']}></a></td>
                        <td><a href="<{$website}>/problem/<{$status['pid']}>"><{$status['pid']}></a></td>

                        <{if $status['result'] == 'Accepted'}>
                        <td class="bold accept-text" rid="<{$status['runid']}>"><{$status['result']}></td>
                        <{else if in_array($status['result'], ['Send to Judge', 'Send to Rejudge', 'Compiling', 'Queueing', 'Running'])}>
                        <td class="bold info-text" rid="<{$status['runid']}>"><{$status['result']}></td>
                        <{else if in_array($status['result'], ['Time Limit Exceeded', 'Memory Limit Exceeded', 'Runtime Error', 'Output Limit Exceeded', 'Presentation Error', 'Wrong Answer'])}>
                        <td class="bold wrong-text" rid="<{$status['runid']}>"><{$status['result']}></td>
                        <{else if in_array($status['result'], ['Judge Error', 'Restricted Function'])}>
                        <td class="bold special-text" rid="<{$status['runid']}>"><{$status['result']}></td>
                        <{else}>
                        <td><a class="bold special-text" href="<{$website}>/status/ceinfo/<{$status['runid']}>" rid="<{$status['runid']}>"><{$status['result']}></a></td>
                        <{/if}>

                        <td><{$status['time']}> MS</td>
                        <td><{$status['memory']}> KB</td>
                        <td>
                            <{if $status['share'] || $status['uid'] == $user_id}>
                            <a href="<{$website}>/status/source/<{$status['runid']}>"><{$status['lang']}></a>
                            <{else}>
                            <{$status['lang']}>
                            <{/if}>
                        </td>
                        <td>
                            <{if $status['share'] || $status['uid'] == $user_id}>
                            <a href="<{$website}>/status/source/<{$status['runid']}>"><{$status['len']}> B</a>
                            <{else}>
                            <{$status['len']}> B
                            <{/if}>
                        </td>
                        <td><{$status['submit_time']}></td>
                    </tr>
                    <{/foreach}>
                    </tbody>
                    <tfoot>
                    <tr class="odd">
                        <td colspan="9">
                            <div id="pager">
                                <div id="list">
                                    <ul class="pagination pagination-sm">
                                        <li><a href="javascript:;" class="pagi" title="1">&lt;&lt;</a></li>
                                        <{foreach $pageArray as $pageId}>
                                        <li class="<{if $pageNow == $pageId}>active<{/if}>">
                                            <a href="javascript:;" class="pagi" title="<{$pageId}>"><{$pageId}></a>
                                        </li>
                                        <{/foreach}>
                                        <li><a href="javascript:;" class="pagi" title="<{$totalPage}>">&gt;&gt;</a></li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </fieldset>
</div>

<!-- Footer -->
<{include file="../common/footer.html" }>
<!-- Javascript Libs -->
<{include file="../common/jsLibs.html"}>
<!-- Javascript App -->
<{include file="../common/jsApp.html"}>
<script type="text/javascript" src="<{$staticWebsite}>/js/status/status.js"></script>
<script>
    var pageId = <{$pageNow}>;
    $("#lang").val(<{$lang}>);
    $("#result").val("<{$result}>");
</script>
</body>

</html>