<!DOCTYPE html>
<html lang="zh-CN">

<!-- Header -->
<{include file="common/header.html"}>

<body>

<!-- 导航条 -->
<{include file="../common/navbar.html" }>

<div class="container" id="page-content">
    <div class="row">
        <div class="col-xs-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">
                        <div class="title">Status</div>
                    </div>
                </div>
                <div class="card-body">
                    <table class="datatable table table-striped" cellspacing="0" width="100%" id="list">
                        <thead>
                        <tr>
                            <th>Runid</th>
                            <th>User</th>
                            <th>PID</th>
                            <th>Result</th>
                            <th>Language</th>
                            <th>Time</th>
                            <th>Memory</th>
                            <th>SubmitDate</th>
                        </tr>
                        </thead>
                        <tbody>
                        <{foreach $data as $item}>
                        <tr>
                            <td><{$item.id}></td>
                            <td><{$item.username}></td>
                            <{if $item.is_shared == 1 || $username==$item.username}>
                            <td>
                                <a href="<{$website}>status/status/view-source?s_id=<{$item.id}>"><{$item.problem_id}></a>
                            </td>
                            <{else}>
                            <td><{$item.problem_id}></td>
                            <{/if}>
                            <{if $item.result == "Compile Error"}>
                            <td>
                            <a href="<{$website}>status/status/compile-error?s_id=<{$item.id}>"><{$item.result}></a>
                            </td>
                            <{else}>
                            <td><{$item.result}></td>
                            <{/if}>
                            <td><{$item.language}></td>
                            <td><{$item.time_used}></td>
                            <td><{$item.memory_used}></td>
                            <td><{$item.submit_time}></td>
                        </tr>
                        <{/foreach}>
                        </tbody>
                        <tfoot>
                        <tr>
                            <th>User</th>
                            <th>PID</th>
                            <th>Result</th>
                            <th>Language</th>
                            <th>Time</th>
                            <th>Memory</th>
                            <th>SubmitDate</th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Footer -->
<{include file="../common/footer.html" }>
<!-- Javascript Libs -->
<{include file="../common/jsLibs.html"}>
<!-- Javascript App -->
<{include file="../common/jsApp.html"}>
<script type="text/javascript" src="<{$staticWebsite}>/js/user/user.js"></script>

</body>

</html>