<!DOCTYPE html>
<html lang="zh-CN">

<!-- Header -->
<head>
    <title>
        <{if $webTitle}>
        <{$webTitle}>
        <{else}>
        <{\Yii::$app->params['longTitle']}>
        <{/if}>
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <{include file="common/favicon.html"}>
    <!-- Fonts -->
    <!-- CSS Libs -->
    <{include file="common/cssLibs.html"}>
    <link rel="stylesheet" href="<{$staticWebsite}>/lib/css/zebra_datepicker/zebra_datepicker.min.css">
    <!-- CSS App -->
    <{include file="common/cssApp.html"}>
</head>

<body>

<!-- 导航条 -->
<{include file="../common/navbar.html" }>

<div class="container">
    <fieldset>
        <div id="form">
            <div class="row" style="min-height:460px">
                <div class="col-md-6">
                    <div class="block block-info">
                        <div class="heading">Add Contest</div>
                        <div class="table-responsive">
                            <table class="table table-bordered thright" style="background:#fbfbfb;min-width:450px">
                                <tbody>
                                <tr>
                                    <th>Title</th>
                                    <td>
                                        <input class="form-control input-sm"
                                               id="title"
                                               type="text"
                                               value="<{if $contest}><{$contest->title}><{/if}>">
                                    </td>
                                </tr>
                                <tr>
                                    <th>Begin Time</th>
                                    <td class="form-group-sm form-inline">
                                        <input class="form-control"
                                               id="datepicker"
                                               type="text"
                                               value="<{if $startDate}><{$startDate}><{/if}>"
                                               style="cursor:default!important"
                                               readonly="readonly">
                                        <input class="form-control width-mini"
                                               id="hour"
                                               maxlength="2"
                                               type="text"
                                               value="<{if isset($startHour)}><{$startHour}><{else}>12<{/if}>">
                                        <input class="form-control width-mini"
                                               id="min"
                                               maxlength="2"
                                               type="text"
                                               value="<{if $startMin}><{$startMin}><{else}>0<{/if}>"> : 00
                                    </td>
                                </tr>
                                <tr>
                                    <th>Length</th>
                                    <td class="form-group-sm form-inline">
                                        <input class="form-control width-mini"
                                               id="dd"
                                               maxlength="2"
                                               type="text"
                                               value="<{if $lengthDate}><{$lengthDate}><{else}>0<{/if}>"> 天
                                        <input class="form-control width-mini"
                                               id="hh"
                                               maxlength="2"
                                               type="text"
                                               value="<{if isset($lengthHour)}><{$lengthHour}><{else}>5<{/if}>"> :
                                        <input class="form-control width-mini"
                                               id="mm"
                                               maxlength="2"
                                               type="text"
                                               value="<{if $lengthMin}><{$lengthMin}><{else}>0<{/if}>"> : 00
                                    </td>
                                </tr>
                                <tr>
                                    <th>Lock Board Time</th>
                                    <td class="form-group-sm form-inline">
                                        <input class="form-control width-mini"
                                               id="lb_dd"
                                               maxlength="2"
                                               type="text"
                                               value="<{if $lockLengthDate}><{$lockLengthDate}><{else}>0<{/if}>"> 天
                                        <input class="form-control width-mini"
                                               id="lb_hh"
                                               maxlength="2"
                                               type="text"
                                               value="<{if isset($lockLengthHour)}><{$lockLengthHour}><{else}>4<{/if}>"> :
                                        <input class="form-control width-mini"
                                               id="lb_mm"
                                               maxlength="2"
                                               type="text"
                                               value="<{if $lockLengthMin}><{$lockLengthMin}><{else}>0<{/if}>"> : 00
                                    </td>
                                </tr>
                                <tr>
                                    <th>Medals</th>
                                    <td class="form-group-sm form-inline">
                                        <input class="form-control width-mini"
                                               id="gold"
                                               type="text"
                                               value="<{$contest->gold}>"> 金
                                        <input class="form-control width-mini"
                                               id="silver"
                                               type="text"
                                               value="<{$contest->silver}>"> 银
                                        <input class="form-control width-mini"
                                               id="bronze"
                                               type="text"
                                               value="<{$contest->bronze}>"> 铜
                                    </td>
                                </tr>
                                <tr>
                                    <th>Password</th>
                                    <td class="form-group-sm">
                                        <input class="form-control"
                                               id="psw"
                                               type="password"
                                               value="<{if $contest}><{$contest->password}><{/if}>">
                                        <span class="text-info">Leave blank to make it Public.</span>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Penalty</th>
                                    <td><select class="form-control input-sm" id="penalty">
                                        <option value="20" <{if $contest && $contest->penalty == 20}>selected="selected"<{/if}>>20 分钟/次</option>
                                        <option value="30" <{if $contest && $contest->penalty == 30}>selected="selected"<{/if}>>30 分钟/次</option>
                                        <option value="40" <{if $contest && $contest->penalty == 40}>selected="selected"<{/if}>>40 分钟/次</option>
                                        <option value="50" <{if $contest && $contest->penalty == 50}>selected="selected"<{/if}>>50 分钟/次</option>
                                        <option value="60" <{if $contest && $contest->penalty == 60}>selected="selected"<{/if}>>60 分钟/次</option>
                                    </select></td>
                                </tr>
                                <tr>
                                    <th>HideOthers</th>
                                    <td><select class="form-control input-sm" id="hideOthers">
                                        <option value="0">否</option>
                                        <option value="1" <{if $contest && $contest->hide_others}>selected="selected"<{/if}>>是</option>
                                    </select></td>
                                </tr>
                                <tr>
                                    <th>Description</th>
                                    <td><textarea class="form-control" id="desc" type="text" rows="5"><{if $contest}><{$contest->description}><{/if}></textarea></td>
                                </tr>
                                <tr>
                                    <th>Announcement</th>
                                    <td><textarea class="form-control" id="anc" type="text" rows="5"><{if $contest}><{$contest->announcement}><{/if}></textarea></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="block block-info">
                        <div class="table-responsive">
                            <table class="table table-bordered tdcenter" id="addprob"
                                   style="background:#fbfbfb;min-width:500px">
                                <thead>
                                <tr class="even">
                                    <th style="width:35px">
                                        <a class="img_link add" id="add" title="add"
                                           href="javascript:;" style="display:block">
                                        </a>
                                    </th>
                                    <th style="width:80px">ProbNum</th>
                                    <th style="width:35px"></th>
                                    <th style="text-align:left">Title</th>
                                </tr>
                                </thead>
                                <tbody id="problemList">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-6 col-md-6">
                    <a class="btn btn-default" id="submit" href="javascript:;">Submit</a>
                    <span class="error-text" id="err"></span>
                </div>
            </div>
        </div>
    </fieldset>
</div>

<!-- Footer -->
<{include file="../common/footer.html" }>
<!-- Javascript Libs -->
<{include file="../common/jsLibs.html"}>
<script src="<{$staticWebsite}>/lib/js/zebra_datepicker/zebra_datepicker.min.js"></script>
<!-- Javascript App -->
<{include file="../common/jsApp.html"}>
<script>
    var initProblemList = [
        <{if $problemList}>
            <{foreach $problemList as $problem}><{$problem}>,<{/foreach}>
        <{else}>
            null
        <{/if}>
    ];
    var contestId = <{if $contestId}><{$contestId}><{else}>null<{/if}>;
</script>>
<script src="<{$staticWebsite}>/js/contest/add.js"></script>
</body>

</html>