<!DOCTYPE html>
<html lang="zh-CN">

<!-- Header -->
<{include file="common/header.html"}>

<body>

<!-- 导航条 -->
<{include file="../common/navbar.html" }>

<div class="container">
    <fieldset>
        <div class="block block-info">
            <div class="heading">
                <div class="row">
                    <div class="col-sm-2">DIY Contest</div>
                    <div class="col-sm-10 form-inline">
                        <div class="pull-right"><a class="btn btn-default btn-sm" href="<{$website}>/contest/add">Add
                            Contest</a>
                            <div class="input-group input-group-sm"><span class="input-group-addon"><i
                                    class="icon_search"></i></span><input class="form-control" id="search" type="text"
                                                                          value="" placeholder="title or manager"></div>
                            <a class="btn btn-default btn-sm" id="fil" href="javascript:;">Filter</a> <a
                                    class="btn btn-default btn-sm" href="/contest/list?type=1">Reset</a></div>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered tdcenter" id="contest">
                    <thead>
                    <tr class="even">
                        <th style="width:65px">#</th>
                        <th>Title</th>
                        <th style="width:180px">Start Time</th>
                        <th style="width:100px">Duration</th>
                        <th style="width:100px">Type</th>
                        <th style="width:125px">Manager</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="odd">
                        <td>1477</td>
                        <td style="text-align:left"><a class="cid" href="javascript:;" id="1477">qdu创新实验室周赛一</a></td>
                        <td>2017-10-21 18:00:00
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped active progress-bar-success"
                                     style="width:100%"></div>
                            </div>
                        </td>
                        <td>03:00:00</td>
                        <td><span class="user-green">Private</span></td>
                        <td><a class="user user-unrated" title="Unrated" href="/user/yanxintian">yanxintian</a></td>
                    </tr>
                    <tr class="even">
                        <td>1475</td>
                        <td style="text-align:left"><a href="/contest?cid=1475">TEST</a></td>
                        <td>2017-10-21 01:00:00
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped active progress-bar-success"
                                     style="width:100%"></div>
                            </div>
                        </td>
                        <td>00:01:00</td>
                        <td><span class="user-blue">Public</span></td>
                        <td><a class="user user-unrated" title="Unrated" href="/user/yanxintian">yanxintian</a></td>
                    </tr>
                    <tr class="odd">
                        <td>1474</td>
                        <td style="text-align:left"><a class="cid" href="javascript:;" id="1474">测试</a></td>
                        <td>2017-10-17 10:30:00
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped active progress-bar-success"
                                     style="width:100%"></div>
                            </div>
                        </td>
                        <td>05:00:00</td>
                        <td><span class="user-green">Private</span></td>
                        <td><a class="user user-unrated" title="Unrated" href="/user/ACsms">ACsms</a></td>
                    </tr>
                    <tr class="even">
                        <td>1472</td>
                        <td style="text-align:left"><a href="/contest?cid=1472">瞎训练啊</a></td>
                        <td>2017-08-07 09:00:00
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped active progress-bar-success"
                                     style="width:100%"></div>
                            </div>
                        </td>
                        <td>05:00:00</td>
                        <td><span class="user-blue">Public</span></td>
                        <td><a class="user user-unrated" title="Unrated" href="/user/tabris">tabris</a></td>
                    </tr>
                    <tr class="odd">
                        <td>1471</td>
                        <td style="text-align:left"><a class="cid" href="javascript:;" id="1471">密码你猜</a></td>
                        <td>2017-07-17 10:00:00
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped active progress-bar-success"
                                     style="width:100%"></div>
                            </div>
                        </td>
                        <td>5天05:00:00</td>
                        <td><span class="user-green">Private</span></td>
                        <td><a class="user user-unrated" title="Unrated" href="/user/xx969496161">xx969496161</a></td>
                    </tr>
                    <tr class="even">
                        <td>1470</td>
                        <td style="text-align:left"><a class="cid" href="javascript:;" id="1470">CCSU</a></td>
                        <td>2017-07-11 10:00:00
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped active progress-bar-success"
                                     style="width:100%"></div>
                            </div>
                        </td>
                        <td>02:00:00</td>
                        <td><span class="user-green">Private</span></td>
                        <td><a class="user user-unrated" title="Unrated" href="/user/swtczb">swtczb</a></td>
                    </tr>
                    <tr class="odd">
                        <td>1469</td>
                        <td style="text-align:left"><a href="/contest?cid=1469">第一次</a></td>
                        <td>2017-05-16 00:00:00
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped active progress-bar-success"
                                     style="width:100%"></div>
                            </div>
                        </td>
                        <td>05:00:00</td>
                        <td><span class="user-blue">Public</span></td>
                        <td><a class="user user-blue" title="Expert" href="/user/kentczf">kentczf</a></td>
                    </tr>
                    <tr class="even">
                        <td>1467</td>
                        <td style="text-align:left"><a href="/contest?cid=1467">Easy contest</a></td>
                        <td>2017-02-05 15:46:00
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped active progress-bar-success"
                                     style="width:100%"></div>
                            </div>
                        </td>
                        <td>00:05:00</td>
                        <td><span class="user-blue">Public</span></td>
                        <td><a class="user user-unrated" title="Unrated" href="/user/huhao">huhao</a></td>
                    </tr>
                    <tr class="odd">
                        <td>1466</td>
                        <td style="text-align:left"><a href="/contest?cid=1466">tasdgsg</a></td>
                        <td>2016-10-17 00:00:00
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped active progress-bar-success"
                                     style="width:100%"></div>
                            </div>
                        </td>
                        <td>05:00:00</td>
                        <td><span class="user-blue">Public</span></td>
                        <td><a class="user user-unrated" title="Unrated" href="/user/utili">utili</a></td>
                    </tr>
                    <tr class="even">
                        <td>1465</td>
                        <td style="text-align:left"><a class="cid" href="javascript:;" id="1465">汕头大学第三场选拔赛</a></td>
                        <td>2016-09-18 14:00:00
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped active progress-bar-success"
                                     style="width:100%"></div>
                            </div>
                        </td>
                        <td>03:30:00</td>
                        <td><span class="user-green">Private</span></td>
                        <td><a class="user user-unrated" title="Unrated" href="/user/xyyang559436">xyyang559436</a></td>
                    </tr>
                    <tr class="odd">
                        <td>1464</td>
                        <td style="text-align:left"><a href="/contest?cid=1464">ac</a></td>
                        <td>2016-09-14 00:00:00
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped active progress-bar-success"
                                     style="width:100%"></div>
                            </div>
                        </td>
                        <td>05:00:00</td>
                        <td><span class="user-blue">Public</span></td>
                        <td><a class="user user-unrated" title="Unrated" href="/user/NOWO">NOWO</a></td>
                    </tr>
                    <tr class="even">
                        <td>1463</td>
                        <td style="text-align:left"><a class="cid" href="javascript:;" id="1463">ccut 2016省赛选拔</a></td>
                        <td>2016-09-08 18:00:00
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped active progress-bar-success"
                                     style="width:100%"></div>
                            </div>
                        </td>
                        <td>02:30:00</td>
                        <td><span class="user-green">Private</span></td>
                        <td><a class="user user-unrated" title="Unrated" href="/user/ws657920328">ws657920328</a></td>
                    </tr>
                    <tr class="odd">
                        <td>1462</td>
                        <td style="text-align:left"><a class="cid" href="javascript:;" id="1462">test</a></td>
                        <td>2016-09-08 18:00:00
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped active progress-bar-success"
                                     style="width:100%"></div>
                            </div>
                        </td>
                        <td>02:30:00</td>
                        <td><span class="user-green">Private</span></td>
                        <td><a class="user user-unrated" title="Unrated" href="/user/ws657920328">ws657920328</a></td>
                    </tr>
                    <tr class="even">
                        <td>1461</td>
                        <td style="text-align:left"><a class="cid" href="javascript:;" id="1461">A + B Problem</a></td>
                        <td>2016-09-07 18:00:00
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped active progress-bar-success"
                                     style="width:100%"></div>
                            </div>
                        </td>
                        <td>02:00:00</td>
                        <td><span class="user-green">Private</span></td>
                        <td><a class="user user-unrated" title="Unrated" href="/user/ws657920328">ws657920328</a></td>
                    </tr>
                    <tr class="odd">
                        <td>1460</td>
                        <td style="text-align:left"><a class="cid" href="javascript:;" id="1460">Andrew Stankevich's
                            Contest (23)</a></td>
                        <td>2016-09-04 09:00:00
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped active progress-bar-success"
                                     style="width:100%"></div>
                            </div>
                        </td>
                        <td>05:00:00</td>
                        <td><span class="user-green">Private</span></td>
                        <td><a class="user user-unrated" title="Unrated" href="/user/burglar">burglar</a></td>
                    </tr>
                    <tr class="even">
                        <td>1459</td>
                        <td style="text-align:left"><a class="cid" href="javascript:;" id="1459">训练一</a></td>
                        <td>2016-08-29 21:10:00
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped active progress-bar-success"
                                     style="width:100%"></div>
                            </div>
                        </td>
                        <td>05:00:00</td>
                        <td><span class="user-green">Private</span></td>
                        <td><a class="user user-unrated" title="Unrated" href="/user/JZQT">JZQT</a></td>
                    </tr>
                    <tr class="odd">
                        <td>1458</td>
                        <td style="text-align:left"><a class="cid" href="javascript:;" id="1458">8.17训练赛</a></td>
                        <td>2016-08-17 14:32:00
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped active progress-bar-success"
                                     style="width:100%"></div>
                            </div>
                        </td>
                        <td>03:00:00</td>
                        <td><span class="user-green">Private</span></td>
                        <td><a class="user user-unrated" title="Unrated" href="/user/quanxing">quanxing</a></td>
                    </tr>
                    <tr class="even">
                        <td>1457</td>
                        <td style="text-align:left"><a href="/contest?cid=1457">hzk</a></td>
                        <td>2016-08-06 17:11:00
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped active progress-bar-success"
                                     style="width:100%"></div>
                            </div>
                        </td>
                        <td>05:00:00</td>
                        <td><span class="user-blue">Public</span></td>
                        <td><a class="user user-unrated" title="Unrated" href="/user/hzk">hzk</a></td>
                    </tr>
                    <tr class="odd">
                        <td>1456</td>
                        <td style="text-align:left"><a href="/contest?cid=1456">water contest</a></td>
                        <td>2016-07-24 00:00:00
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped active progress-bar-success"
                                     style="width:100%"></div>
                            </div>
                        </td>
                        <td>103天04:39:00</td>
                        <td><span class="user-blue">Public</span></td>
                        <td><a class="user user-unrated" title="Unrated" href="/user/huhao">huhao</a></td>
                    </tr>
                    <tr class="even">
                        <td>1455</td>
                        <td style="text-align:left"><a class="cid" href="javascript:;" id="1455">MyTrick</a></td>
                        <td>2016-07-01 22:05:00
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped active progress-bar-success"
                                     style="width:100%"></div>
                            </div>
                        </td>
                        <td>3天00:00:00</td>
                        <td><span class="user-green">Private</span></td>
                        <td><a class="user user-unrated" title="Unrated" href="/user/castellan">castellan</a></td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr class="odd">
                        <td colspan="6">
                            <div id="pager">
                                <div id="list">
                                    <ul class="pagination pagination-sm">
                                        <li class="disabled"><a id="1" href="javascript:;">&lt;&lt;</a></li>
                                        <li class="active"><a href="javascript:;">1</a></li>
                                        <li><a id="2" href="javascript:;">2</a></li>
                                        <li><a id="3" href="javascript:;">3</a></li>
                                        <li><a id="4" href="javascript:;">4</a></li>
                                        <li><a id="5" href="javascript:;">5</a></li>
                                        <li class="disabled"><a href="javascript:;">...</a></li>
                                        <li><a id="12" href="javascript:;">&gt;&gt;</a></li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </fieldset>
</div>

<!-- Footer -->
<{include file="../common/footer.html" }>
<!-- Javascript Libs -->
<{include file="../common/jsLibs.html"}>
<!-- Javascript App -->
<{include file="../common/jsApp.html"}>

</body>

</html>