<!DOCTYPE html>
<html lang="zh-CN">

<!-- Header -->
<{include file="common/header.html"}>

<body>

<!-- 导航条 -->
<{include file="../common/navbar.html" }>

<div class="container">
    <fieldset>
        <div class="block block-info">
            <div class="heading">
                <div class="row">
                    <div class="col-sm-2">Contest</div>
                    <div class="col-sm-10 form-inline">
                        <div class="pull-right">
                            <a class="btn btn-default btn-sm" href="<{$website}>/contest/add">Add Contest</a>
                            <div class="input-group input-group-sm">
                                <span class="input-group-addon">
                                    <i class="icon_search"></i>
                                </span>
                                <input class="form-control" id="search" type="text" value="" placeholder="title or manager">
                            </div>
                            <a class="btn btn-default btn-sm" id="fil" href="javascript:;">Filter</a>
                            <a class="btn btn-default btn-sm" href="/contest/">Reset</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered tdcenter" id="contest">
                    <thead>
                    <tr class="even">
                        <th style="width:65px">#</th>
                        <th>Title</th>
                        <th style="width:180px">Start Time</th>
                        <th style="width:100px">Duration</th>
                        <th style="width:100px">Type</th>
                        <th style="width:125px">Manager</th>
                    </tr>
                    </thead>
                    <tbody>
                    <{$counter = 0}>
                    <{foreach $contests as $contest}>
                    <{$counter = $counter + 1}>
                    <tr class="<{if $counter % 2 == 0}>even<{else}>odd<{/if}>">
                        <td><{$contest['id']}></td>
                        <td style="text-align:left"><a class="cid" href="javascript:;" data-id="<{$contest['id']}>"><{$contest['title']}></a></td>
                        <td><{$contest['start_time']}>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped active <{if $contest['percent'] == 100}>progress-bar-success<{else if $contest['percent'] > 0}>progress-bar-danger<{/if}>"
                                     style="width:<{if $contest['percent'] == 0 || $contest['percent'] == 100}>100<{else}><{$contest['percent']}><{/if}>%"></div>
                            </div>
                        </td>
                        <td><{$contest['duration']}></td>
                        <td>
                            <{if $contest['type']}>
                            <span class="user-green">Private</span>
                            <{else}>
                            <span class="user-blue">Public</span>
                            <{/if}>
                        </td>
                        <td><a class="user user-unrated" title="Unrated" href="<{$website}>/user/detail/<{$contest['username']}>"><{$contest['username']}></a></td>
                    </tr>
                    <{/foreach}>
                    </tbody>
                    <tfoot>
                    <tr class="odd">
                        <td colspan="6">
                            <div id="pager">
                                <div id="list">
                                    <ul class="pagination pagination-sm">
                                        <li><a href="javascript:;" class="pagi" title="1">&lt;&lt;</a></li>
                                        <{foreach $pageArray as $pageId}>
                                        <li class="<{if $pageNow == $pageId}>active<{/if}>">
                                            <a href="javascript:;" class="pagi" title="<{$pageId}>"><{$pageId}></a>
                                        </li>
                                        <{/foreach}>
                                        <li><a href="javascript:;" class="pagi" title="<{$totalPage}>">&gt;&gt;</a></li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </fieldset>
</div>

<!-- Footer -->
<{include file="../common/footer.html" }>

<div class="jqmSubmit jqmID3" id="dialog_lc" style="width: 400px; height: 190px; top: 25%; margin-left: -200px; z-index: 3000; display: none;">
    <div class="jqDrag jqtop">Login contest</div>
    <div class="jqcontent container" style="width:390px;height:100px">
        <div class="form-group">
            <label for="contest_password">Password *</label>
            <input class="form-control input-sm" id="contest_password" type="password">
        </div>
    </div>
    <div class="jqfoot">
        <span class="pull-right">
            <a class="btn btn-default" id="contest_submit" href="javascript:;">Submit</a>
            <a class="contestclose btn btn-default" href="javascript:;">Cancel</a>
        </span>
        <small class="error-text" id="contest_error"></small>
    </div>
    <div class="jqResize"></div>
    <i class="contestclose jqclose img_link"></i>
</div>

<!-- Javascript Libs -->
<{include file="../common/jsLibs.html"}>
<!-- Javascript App -->
<{include file="../common/jsApp.html"}>
<script type="text/javascript" src="<{$staticWebsite}>/js/contest/contest.js"></script>
<script>
    var pageId = <{$pageNow}>;
    $("#search").val('<{$search}>');
</script>
</body>

</html>