<!DOCTYPE html>
<html lang="zh-CN">

<!-- Header -->
<{include file="common/header.html"}>

<body>

<!-- 导航条 -->
<{include file="../common/navbar.html" }>

<div class="container">
    <fieldset id="widthfix">
        <div class="box box-inner"><h3 class="mc center" style="color:#3069BE"><{$contest->title}></h3>
            <marquee class="error-text" id="marquee" onmouseout="this.start()" onmouseover="this.stop()"
                     scrollamount="2" scrolldelay="1" behavior="alternate"><{$contest->announcement}></marquee>
            <div class="row">
                <div class="col-sm-4">Penalty: <{$contest->penalty}> minutes</div>
                <div class="col-sm-4 center"></div>
            </div>
            <div class="progress cb" id="progress" style="height:20px">
                <div class="progress-bar progress-bar-striped active progress-bar-success" style="width:100%"></div>
            </div>
            <div class="pull-right" id="contest-info" style="text-align:right"></div>
        </div>
        <div class="box" id="thumbnail" style="min-height:600px">
            <ul class="nav nav-tabs" style="padding-top:5px">
                <li ><a class="tablink" href="<{$website}>/contest/<{$contest->id}>"><span>Overview</span></a></li>
                <li class=""><a class="tablink" href="<{$website}>/contest/<{$contest->id}>/problem"><span>Problem</span></a></li>
                <li class=""><a class="tablink" href="<{$website}>/contest/<{$contest->id}>/status"><span>Status</span></a></li>
                <li style="padding-left:10px" class="active"><a class="tablink" href="<{$website}>/contest/<{$contest->id}>/rank"><span>Rank</span></a></li>
                <li >
                    <a class="tablink" href="<{$website}>/contest/<{$contest->id}>/discuss">
                        <span>Discuss</span>
                        <sup class="badge" id="discuss_tips" style="display:none"></sup>
                    </a>
                </li>
            </ul>


            <div id="ranktab" style="width: 1118px; display: block;">
                <div id="rankheader" style="width: 810px; display: none;">
                    <table class="table table-bordered table-rank tdcenter">
                        <thead>
                        <tr class="even">
                            <th class="rank" style="border-left:0">#</th>
                            <th class="name">Name</th>
                            <th class="nick">Nick</th>
                            <th class="solved" title="solved"><span class="user-green">S</span></th>
                            <th class="penalty" title="penalty(罚时)"><span class="user-red">P</span></th>
                            <{foreach $problems as $problem}>
                            <th class="standing_status"><a href="<{$website}>/contest/<{$contest->id}>/problem/"><{$problem->lable}></a></th>
                            <{/foreach}>
                        </tr>
                        </thead>
                    </table>
                </div>
                <div id="rankfooter" style="width: 810px; display: none;">
                    <table class="table table-bordered table-rank" style="margin:0;border:0">
                        <tfoot>
                        <tr style="height:70px">
                            <td colspan="5" style="border:0"></td>
                            <td class="standing_status footer" data-idx="0"><span class="footer-res" style="color:#eee">-</span><span
                                    class="footer-stat"><a href="#status--A-2">47</a> <span>/</span> <a
                                    href="#status--A" "="">136</a></span><span class="footer-percent">35%</span></td>
                            <td class="standing_status footer" data-idx="1"><span class="footer-res" style="color:#eee">-</span><span
                                    class="footer-stat"><a href="#status--B-2">16</a> <span>/</span> <a
                                    href="#status--B" "="">36</a></span><span class="footer-percent">44%</span></td>
                            <td class="standing_status footer" data-idx="2"><span class="footer-res" style="color:#eee">-</span><span
                                    class="footer-stat"><a href="#status--C-2">35</a> <span>/</span> <a
                                    href="#status--C" "="">229</a></span><span class="footer-percent">15%</span></td>
                            <td class="standing_status footer" data-idx="3"><span class="footer-res" style="color:#eee">-</span><span
                                    class="footer-stat"><a href="#status--D-2">59</a> <span>/</span> <a
                                    href="#status--D" "="">223</a></span><span class="footer-percent">26%</span></td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
                <{if $contest->manager == $username || true}>
                <div class="form-inline form-group">
                    <input class="form-control" id="starstr" style="width:500px" type="text" placeholder="多个用户名">
                    <select class="form-control" id="type">
                        <option value="1">给他们打星</option>
                        <option value="0">取消打星</option>
                    </select>
                    <button class="btn btn-default" id="star">提交</button>
                    <small class="user-gray">PS: 多个用户请用空格隔开</small>
                    <span class="error-text" id="starerr"></span>
                </div>
                <{/if}>
                <div class="block block-danger" style="width:810px">
                    <div id="ranktable">
                        <table class="table table-bordered table-rank tdcenter">
                            <thead>
                            <tr class="even">
                                <th class="rank" style="border-left:0">#</th>
                                <th class="name">Name</th>
                                <th class="nick">Nick</th>
                                <th class="solved" title="solved"><span class="user-green">S</span></th>
                                <th class="penalty" title="penalty(罚时)"><span class="user-red">P</span></th>
                                <{foreach $problems as $problem}>
                                <th class="standing_status"><a href="<{$website}>/contest/<{$contest->id}>/problem/"><{$problem->lable}></a></th>
                                <{/foreach}>
                            </tr>
                            </thead>
                            <tbody>
                            <{for $i = 0 to 100}>
                            <tr class="odd">
                                <td class="gold">1</td>
                                <td><a target="_blank" href="/user/NeverMore" class="user user-green"
                                       title="Specialist NeverMore">NeverMore</a></td>
                                <td><span title="蘑菇" class="u-info user-gray ellipsis">蘑菇</span></td>
                                <td>4</td>
                                <td>262</td>
                                <td class="accept"><span class="accept-text">+</span><span
                                        class="cell-time">01:13</span></td>
                                <td class="accept"><span class="accept-text">+1</span><span
                                        class="cell-time">00:47</span></td>
                                <td class="accept"><span class="accept-text">+1</span><span
                                        class="cell-time">00:21</span></td>
                                <td class="accept"><span class="accept-text">+</span><span
                                        class="cell-time">00:39</span></td>
                            </tr>
                            <tr class="even">
                                <td class="gold">2</td>
                                <td><a target="_blank" href="/user/Boliuraque" class="user user-unrated"
                                       title="Unrated Boliuraque">Boliuraque</a></td>
                                <td><span title="Horizen" class="u-info user-gray ellipsis">Horizen</span></td>
                                <td>4</td>
                                <td>263</td>
                                <td class="accept"><span class="accept-text">+1</span><span
                                        class="cell-time">01:36</span></td>
                                <td class="accept"><span class="accept-text">+</span><span
                                        class="cell-time">00:41</span></td>
                                <td class="first_blood"><span class="fb-text">+</span><span
                                        class="fb-cell-time">00:20</span></td>
                                <td class="accept"><span class="accept-text">+1</span><span
                                        class="cell-time">00:25</span></td>
                            </tr>
                            <{/for}>
                            </tbody>
                            <tfoot>
                            <tr class="odd" style="height:70px">
                                <td id="rankFooterDown" colspan="5"></td>
                                <td class="standing_status footer" data-idx="0"><span class="footer-res"
                                                                                      style="color:#eee">-</span><span
                                        class="footer-stat"><a href="#status--A-2">47</a> <span>/</span> <a
                                        href="#status--A" "="">136</a></span><span class="footer-percent">35%</span>
                                </td>
                                <td class="standing_status footer" data-idx="1"><span class="footer-res"
                                                                                      style="color:#eee">-</span><span
                                        class="footer-stat"><a href="#status--B-2">16</a> <span>/</span> <a
                                        href="#status--B" "="">36</a></span><span class="footer-percent">44%</span></td>
                                <td class="standing_status footer" data-idx="2"><span class="footer-res"
                                                                                      style="color:#eee">-</span><span
                                        class="footer-stat"><a href="#status--C-2">35</a> <span>/</span> <a
                                        href="#status--C" "="">229</a></span><span class="footer-percent">15%</span>
                                </td>
                                <td class="standing_status footer" data-idx="3"><span class="footer-res"
                                                                                      style="color:#eee">-</span><span
                                        class="footer-stat"><a href="#status--D-2">59</a> <span>/</span> <a
                                        href="#status--D" "="">223</a></span><span class="footer-percent">26%</span>
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </fieldset>
    <script type="text/javascript">
        var _timeNow = <{time()}>;
        var _startTime = <{strtotime($contest->start_time)}>;
        var _endTime = <{strtotime($contest->end_time)}>;
        var _duration = _endTime - _startTime;
        var _cid = <{$contest->id}>;
    </script>
</div>

<!-- Footer -->
<{include file="../common/footer.html" }>
<!-- Javascript Libs -->
<{include file="../common/jsLibs.html"}>
<!-- Javascript App -->
<{include file="../common/jsApp.html"}>
<script type="text/javascript" src="<{$staticWebsite}>/js/contest/progress.js"></script>
<script type="text/javascript" src="<{$staticWebsite}>/js/contest/rank.js"></script>
</body>

</html>