<!DOCTYPE html>
<html lang="zh-CN">

<!-- Header -->
<{include file="common/header.html"}>

<body>

<!-- 导航条 -->
<{include file="../common/navbar.html" }>

<div class="container">
    <fieldset id="widthfix">
        <div class="box box-inner"><h3 class="mc center" style="color:#3069BE"><{$contest->title}></h3>
            <marquee class="error-text" id="marquee" onmouseout="this.start()" onmouseover="this.stop()"
                     scrollamount="2" scrolldelay="1" behavior="alternate"><{$contest->announcement}></marquee>
            <div class="row">
                <div class="col-sm-4">Penalty: <{$contest->penalty}> minutes</div>
                <div class="col-sm-4 center"></div>
            </div>
            <div class="progress cb" id="progress" style="height:20px">
                <div class="progress-bar progress-bar-striped active progress-bar-success" style="width:100%"></div>
            </div>
            <div class="pull-right" id="contest-info" style="text-align:right"></div>
        </div>
        <div class="box" id="thumbnail" style="min-height:600px">
            <ul class="nav nav-tabs" style="padding-top:5px">
                <li ><a class="tablink" href="<{$website}>/contest/<{$contest->id}>"><span>Overview</span></a></li>
                <li class=""><a class="tablink" href="<{$website}>/contest/<{$contest->id}>/problem"><span>Problem</span></a></li>
                <li class=""><a class="tablink" href="<{$website}>/contest/<{$contest->id}>/status"><span>Status</span></a></li>
                <li style="padding-left:10px" class="active"><a class="tablink" href="<{$website}>/contest/<{$contest->id}>/rank"><span>Rank</span></a></li>
                <li >
                    <a class="tablink" href="<{$website}>/contest/<{$contest->id}>/discuss">
                        <span>Discuss</span>
                        <sup class="badge" id="discuss_tips" style="display:none"></sup>
                    </a>
                </li>
            </ul>


            <div id="ranktab" style="width: 1118px; display: block;">
                <div id="rankheader" style="width:<{405 + 81 * count($problems)}>px; display: none;">
                    <table class="table table-bordered table-rank tdcenter">
                        <thead>
                        <tr class="even">
                            <th class="rank" style="border-left:0">#</th>
                            <th class="name">Name</th>
                            <th class="nick">Nick</th>
                            <th class="solved" title="solved"><span class="user-green">S</span></th>
                            <th class="penalty" title="penalty(罚时)"><span class="user-red">P</span></th>
                            <{foreach $problems as $problem}>
                            <th class="standing_status"><a href="<{$website}>/contest/<{$contest->id}>/problem/<{$problem->lable}>"><{$problem->lable}></a></th>
                            <{/foreach}>
                        </tr>
                        </thead>
                    </table>
                </div>
                <div id="rankfooter" style="width:<{405 + 81 * count($problems)}>px; display: none;">
                    <table class="table table-bordered table-rank" style="margin:0;border:0">
                        <tfoot>
                        <tr style="height:70px">
                            <td colspan="5" style="border:0"></td>
                            <{foreach $problems as $problem}>
                            <td class="standing_status footer" data-idx="0">
                                <{if $userNow && $userNow['problem'][$problem->lable]['ac']}>
                                <span class="footer-res" style="color: rgb(102, 255, 102);">Yes</span>
                                <{else if $userNow && $userNow['problem'][$problem->lable]['try']}>
                                <span class="footer-res" style="color: rgb(255, 101, 101);">No</span>
                                <{else}>
                                <span class="footer-res" style="color:#eee">-</span>
                                <{/if}>
                                <span class="footer-stat">
                                    <a><{$problem->total_ac}></a> <span>/</span> <a><{$problem->total_submit}></a>
                                </span>
                                <span class="footer-percent"><{if $problem->total_ac}><{sprintf("%.0f", $problem->total_ac / $problem->total_submit * 100)}><{else}>0<{/if}>%</span>
                            </td>
                            <{/foreach}>
                        </tr>
                        </tfoot>
                    </table>
                </div>
                <{if $contest->manager == $username || $isRoot}>
                <div class="form-inline form-group">
                    <input class="form-control" id="starstr" style="width:500px" type="text" placeholder="多个用户名">
                    <select class="form-control" id="type">
                        <option value="1">给他们打星</option>
                        <option value="0">取消打星</option>
                    </select>
                    <button class="btn btn-default" id="star">提交</button>
                    <small class="user-gray">PS: 多个用户请用空格隔开</small>
                    <span class="error-text" id="starerr"></span>
                </div>
                <{/if}>
                <div class="block block-danger" style="width:<{405 + 81 * count($problems)}>px">
                    <div id="ranktable">
                        <table class="table table-bordered table-rank tdcenter">
                            <thead>
                            <tr class="even">
                                <th class="rank" style="border-left:0">#</th>
                                <th class="name">Name</th>
                                <th class="nick">Nick</th>
                                <th class="solved" title="solved"><span class="user-green">S</span></th>
                                <th class="penalty" title="penalty(罚时)"><span class="user-red">P</span></th>
                                <{foreach $problems as $problem}>
                                <th class="standing_status"><a href="<{$website}>/contest/<{$contest->id}>/problem/<{$problem->lable}>"><{$problem->lable}></a></th>
                                <{/foreach}>
                            </tr>
                            </thead>
                            <tbody>
                            <{$counter = 0}>

                            <{foreach $userList as $user}>
                            <{$counter = $counter + 1}>
                            <tr class="<{if $counter % 2 == 0}>even<{else}>odd<{/if}>">
                                <td class="<{$user['medal']}>"><{$user['rank']}></td>
                                <td>
                                    <a target="_blank" href="<{$website}>/user/detail/<{$user['username']}>" class="user"><{$user['username']}></a>
                                </td>
                                <td><span class="user-gray ellipsis"><{$user['nickname']}></span></td>
                                <td><{$user['solved']}></td>
                                <td><{sprintf("%.0f", $user['penalty'])}></td>
                                <{foreach $user['problem'] as $info}>
                                <td class="<{if $info['first']}>first_blood<{else if $info['ac']}>accept<{/if}>">
                                    <{if $info['ac'] && $info['try']}><span class="accept-text">+<{$info['try']}></span><{/if}>
                                    <{if !$info['ac'] && $info['try']}><span class="failed">-<{$info['try']}></span><{/if}>
                                    <{if $info['ac']}><span class="cell-time"><{$info['acTime']}></span><{/if}>
                                </td>
                                <{/foreach}>
                            </tr>
                            <{/foreach}>
                            </tbody>
                            <tfoot>
                            <tr class="odd" style="height:70px">
                                <td id="rankFooterDown" colspan="5"></td>
                                <{foreach $problems as $problem}>
                                <td class="standing_status footer" data-idx="0">
                                    <{if $userNow && $userNow['problem'][$problem->lable]['ac']}>
                                    <span class="footer-res" style="color: rgb(102, 255, 102);">Yes</span>
                                    <{else if $userNow && $userNow['problem'][$problem->lable]['try']}>
                                    <span class="footer-res" style="color: rgb(255, 101, 101);">No</span>
                                    <{else}>
                                    <span class="footer-res" style="color:#eee">-</span>
                                    <{/if}>
                                    <span class="footer-stat">
                                    <a><{$problem->total_ac}></a> <span>/</span> <a><{$problem->total_submit}></a>
                                </span>
                                    <span class="footer-percent"><{if $problem->total_ac}><{sprintf("%.0f", $problem->total_ac / $problem->total_submit * 100)}><{else}>0<{/if}>%</span>
                                </td>
                                <{/foreach}>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </fieldset>
    <script type="text/javascript">
        var _timeNow = <{time()}>;
        var _startTime = <{strtotime($contest->start_time)}>;
        var _endTime = <{strtotime($contest->end_time)}>;
        var _duration = _endTime - _startTime;
        var _cid = <{$contest->id}>;
    </script>
</div>

<!-- Footer -->
<{include file="../common/footer.html" }>
<!-- Javascript Libs -->
<{include file="../common/jsLibs.html"}>
<!-- Javascript App -->
<{include file="../common/jsApp.html"}>
<script type="text/javascript" src="<{$staticWebsite}>/js/contest/progress.js"></script>
<script type="text/javascript" src="<{$staticWebsite}>/js/contest/rank.js"></script>
</body>

</html>