<!DOCTYPE html>
<html lang="zh-CN">

<!-- Header -->
<{include file="common/header.html"}>

<body>

<!-- 导航条 -->
<{include file="common/navbar.html"}>

<div class="container">
    <fieldset>
        <div id="form">
            <div class="row" style="min-height:460px">
                <div class="block block-info">
                    <div class="heading">添加题目</div>
                    <div class="table-responsive">
                        <table class="table table-bordered thright" style="background:#fbfbfb;min-width:450px">
                            <tbody>
                            <tr>
                                <th>Problem ID<br>
                                    <button class="btn btn-primary" id="load" type="submit">Load</button>
                                    <button class="btn btn-danger" id="reset" type="button">Reset</button>
                                    <span class="info-text" id="loadInfo"></span>
                                </th>
                                <td><input class="form-control input-sm" id="pid" type="text" value=""></td>
                            </tr>
                            <tr>
                                <th>Title</th>
                                <td><input class="form-control input-sm" id="title" type="text" value=""></td>
                            </tr>
                            <tr>
                                <th>Time Limit (ms)</th>
                                <td><input class="form-control input-sm" id="timeLimit" type="text" value=""></td>
                            </tr>
                            <tr>
                                <th>Memory Limit (KB)</th>
                                <td><input class="form-control input-sm" id="memoryLimit" type="text" value=""></td>
                            </tr>
                            <tr>
                                <th>Special Judge</th>
                                <td><select class="form-control input-sm" id="special">
                                    <option value="0">否</option>
                                    <{foreach $languageList as $language}>
                                    <option value="<{$language->id}>"><{$language->language}></option>
                                    <{/foreach}>
                                </select></td>
                            </tr>
                            <tr>
                                <th>Hide</th>
                                <td><select class="form-control input-sm" id="hide">
                                    <option value="0">否</option>
                                    <option value="1">是</option>
                                </select></td>
                            </tr>
                            <tr>
                                <th>Description</th>
                                <td>
                                    <textarea class="form-control" id="desc" type="text" rows="5" style="margin: 0px 29px 0px 0px; width: 680px; height: 123px;"></textarea>
                                </td>
                            </tr>
                            <tr><th>Input</th><td><textarea id="input" name="input"></textarea></td></tr>
                            <tr><th>Output</th><td><textarea id="output" name="output"></textarea></td></tr>
                            <tr><th>Sample Input</th><td><textarea id="sampleIn" class="input-block-level" rows="8" style="font-family: monospace;width: 720px"></textarea></td></tr>
                            <tr><th>Sample Output</th><td><textarea id="sampleOut" class="input-block-level" rows="8" style="font-family: monospace;width: 720px"></textarea></td></tr>
                            <tr><th>Hint</th><td><textarea id="hint" name="hint"></textarea></td></tr>
                            <tr><th>Source</th><td><textarea id="source" class="input-block-level" rows="4" style="width: 720px"></textarea></td></tr>
                            <tr><th>Author</th><td><textarea id="author" class="input-block-level" rows="4" style="width: 720px"></textarea></td></tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-6 col-md-6">
                    <span class="error-text" id="submitError"></span>
                    <span class="info-text" id="submitInfo"></span>
                    <a class="btn btn-default" id="submit" href="javascript:;">Submit</a>
                </div>
            </div>
        </div>
    </fieldset>
</div>


<!-- Footer -->
<{include file="common/footer.html" }>
<!-- Javascript Libs -->
<{include file="common/jsLibs.html"}>
<script src="<{if getenv('USE_CDN') == 'true'}>https://cdn.ckeditor.com/4.7.3/standard/ckeditor.js<{else}><{$staticWebsite}>/lib/js/ckeditor/ckeditor.js<{/if}>"></script>
<script src="<{$staticWebsite}>/lib/js/ckfinder/ckfinder.js"></script>
<!-- Javascript App -->
<{include file="common/jsApp.html"}>
<script src="<{$staticWebsite}>/js/admin/admin.js"></script>
</body>

</html>