<!DOCTYPE html>
<html lang="zh-CN">

<!-- Header -->
<{include file="../common/header.html"}>

<body>

<!-- 导航条 -->
<{include file="../common/navbar.html"}>


<div class="container">
    <fieldset id="ranklist">
        <div class="block block-info">
            <div class="heading">
                <div class="row">
                    <div class="col-sm-2">Ranklist</div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered tdcenter" id="rank">
                    <thead>
                    <tr class="even">
                        <th style="width:60px">Rank</th>
                        <th style="width:155px">User</th>
                        <th style="width:155px">Nickname</th>
                        <th>Signature</th>
                        <th style="width:70px">Solved</th>
                        <th style="width:70px">Submit</th>
                        <th style="width:70px">AC_Ratio</th>
                    </tr>
                    </thead>
                    <tbody>
                    <{$counter = 0}>
                    <{foreach $users as $user}>
                    <{$counter = $counter + 1}>
                    <tr class="<{if $user_id == $user->id}>highlight<{/if}> <{if $counter % 2 == 0}>even<{else}>odd<{/if}>">
                        <td><{$counter + $rankStart}></td>
                        <td><a class="user user-cray" href="<{$website}>/user/detail/<{$user->username}>">
                            <{$user->username}>
                        </a></td>
                        <td><span class="user user-gray"><{$user->nickname}></span></td>
                        <td class="ellipsis"><p class="user-gray ellipsis mc"><{$user->signature}></p></td>
                        <td><a href="/status/list/?name=<{$user->username}>&result=Accepted"><{$user->solved_problem}></a></td>
                        <td><a href="/status/list/?name=<{$user->username}>"><{$user->total_submit}></a></td>
                        <td><span class="user-gray">
                            <{if $user->solved_problem}>
                                <{sprintf("%.2f", 100 * $user->total_ac / $user->total_submit)}>
                            <{else}>
                                0.00
                            <{/if}>%
                        </span></td>
                    </tr>
                    <{/foreach}>
                    </tbody>
                    <tfoot>
                    <tr class="odd">
                        <td colspan="7">
                            <div id="pager">
                                <div id="list">
                                    <ul class="pagination pagination-sm">
                                        <li><a href="<{$website}>/rank/1">&lt;&lt;</a></li>
                                        <{foreach $pageArray as $pageId}>
                                        <li class="<{if $pageNow == $pageId}>active<{/if}>">
                                            <a href="<{$website}>/rank/<{$pageId}>"><{$pageId}></a>
                                        </li>
                                        <{/foreach}>
                                        <li><a href="<{$website}>/rank/<{$totalPage}>">&gt;&gt;</a></li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </fieldset>
</div>

<!-- Footer -->
<{include file="../common/footer.html" }>
<!-- Javascript Libs -->
<{include file="../common/jsLibs.html"}>
<!-- Javascript App -->
<{include file="../common/jsApp.html"}>

</body>

</html>