<!DOCTYPE html>
<html lang="zh-CN">

<!-- Header -->
<{include file="common/header.html"}>

<body>

<!-- 导航条 -->
<{include file="../common/navbar.html" }>

<div class="container" id="page-content">
    <div class="row">
        <div class="col-xs-12">
            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-body">
                    <table class="datatable table table-striped" cellspacing="0" width="100%" id="list">
                        <thead>
                        <tr>
                            <th>Rank</th>
                            <th>Username</th>
                            <th>Nickname</th>
                            <th>School</th>
                            <th>Solved</th>
                            <th>AC Ratio</th>
                        </tr>
                        </thead>
                        <tbody>
                        <{foreach $data as $item}>
                        <tr>
                            <td><{$item.rank}></td>
                            <td><a href="<{$website}>user/user/detail?userId=<{$item.id}>"><{$item.username}></a></td>
                            <td><{$item.nickname}></td>
                            <td><{$item.school}></td>
                            <td><{$item.total_ac}></td>
                            <td><{$item.total_ac}> / <{$item.total_submit}></td>
                        </tr>
                        <{/foreach}>
                        </tbody>
                        <tfoot>
                        <tr>
                            <th>Rank</th>
                            <th>Username</th>
                            <th>Nickname</th>
                            <th>School</th>
                            <th>Solved</th>
                            <th>AC Ratio</th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Footer -->
<{include file="../common/footer.html" }>
<!-- Javascript Libs -->
<{include file="../common/jsLibs.html"}>
<!-- Javascript App -->
<{include file="../common/jsApp.html"}>
<script type="text/javascript" src="<{$staticWebsite}>/js/user/user.js"></script>

</body>

</html>